<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Node.Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Node.Lib.Properties.Settings>
            <setting name="ConcurrencyMethod" serializeAs="String">
                <value>LAST_IN_WIN</value>
            </setting>
            <setting name="Severity" serializeAs="String">
                <value>LOW</value>
            </setting>
            <setting name="DBTrace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PageFlowFile" serializeAs="String">
                <value>PageFlowFile</value>
            </setting>
            <setting name="AlertScriptOn" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AlertScriptMin" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="AlertScriptMsg" serializeAs="String">
                <value>You have not had any activities in more than 15 minutes, and Session will be expired in 5 minutes.\nPlease click 'OK' to continue the Session, or 'Cancel' if you don't want to.</value>
            </setting>
            <setting name="AlertRefreshUrl" serializeAs="String">
                <value>/fresh.session</value>
            </setting>
            <setting name="AlertErrorUrl" serializeAs="String">
                <value>/app/login.aspx</value>
            </setting>
            <setting name="TextResourceFile" serializeAs="String">
                <value>TextResource.xml</value>
            </setting>
            <setting name="TextResourceIgnoreKeyCases" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScriptBase" serializeAs="String">
                <value>ScriptBase</value>
            </setting>
            <setting name="ImageBase" serializeAs="String">
                <value>/Images/EAF/</value>
            </setting>
            <setting name="DataSource" serializeAs="String">
                <value />
            </setting>
            <setting name="LogFileName" serializeAs="String">
                <value />
            </setting>
            <setting name="LogTableName" serializeAs="String">
                <value />
            </setting>
            <setting name="LogID" serializeAs="String">
                <value />
            </setting>
            <setting name="LogMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="LogDetailMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="LogType" serializeAs="String">
                <value />
            </setting>
            <setting name="LogDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="LogCategory" serializeAs="String">
                <value />
            </setting>
            <setting name="LogLevel" serializeAs="String">
                <value />
            </setting>
            <setting name="LogSaveMode" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailTemplateSetting" serializeAs="String">
                <value>EmailTemplate.xml</value>
            </setting>
            <setting name="EmailLogTableName" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailLogID" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailLogMessage" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailLogDetail" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailLogDateTime" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailLogStatus" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailLogType" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailLogCategory" serializeAs="String">
                <value />
            </setting>
            <setting name="EmailLogAllowed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SourceType" serializeAs="String">
                <value>File</value>
            </setting>
            <setting name="DataSource1" serializeAs="String">
                <value />
            </setting>
            <setting name="Table" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyValue" serializeAs="String">
                <value />
            </setting>
            <setting name="KeyColumnName" serializeAs="String">
                <value />
            </setting>
            <setting name="SrcColumnName" serializeAs="String">
                <value />
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="TaskSetting" serializeAs="String">
                <value>TaskConfig.xml</value>
            </setting>
        </Node.Lib.Properties.Settings>
    </applicationSettings>
</configuration>