USE [master]
GO
/****** Object:  Database [ICIS_STG_S]    Script Date: 01/19/2012 10:58:24 ******/
CREATE DATABASE [ICIS_STG_S] ON  PRIMARY 
( NAME = N'ICIS_DMR_STG', FILENAME = N'F:\MSSQL\Data\icis_stg_s.mdf' , SIZE = 132672KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'ICIS_DMR_STG_log', FILENAME = N'F:\MSSQL\Data\icis_stg_s_1.ldf' , SIZE = 35712KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'ICIS_STG_S', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ICIS_STG_S].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
ALTER DATABASE [ICIS_STG_S] SET DB_CHAINING OFF 

USE [ICIS_STG_S]
GO
/****** Object:  Table [dbo].[icis_address_phone_t]    Script Date: 01/19/2012 11:03:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[icis_address_phone_t](
	[ADDRESS_ID] [int] NOT NULL,
	[PHONE_ID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[XREF_ACTIVITY_POLLUTANT]    Script Date: 01/19/2012 11:11:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ACTIVITY_POLLUTANT](
	[ACTIVITY_ID] [varchar](200) NULL,
	[POLLUTANT_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[WATER_02_ICIS_PREP]    Script Date: 01/19/2012 11:11:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[WATER_02_ICIS_PREP](
	[RESULT_ID] [bigint] NOT NULL,
	[submission_id_int] [int] NOT NULL,
	[transaction_id] [int] NOT NULL,
	[station_id] [int] NOT NULL,
	[monitor_pt_id] [int] NOT NULL,
	[monitor_pt_version] [varchar](20) NOT NULL,
	[permit_no] [varchar](100) NULL,
	[station_no] [varchar](10) NOT NULL,
	[report_designator] [varchar](1) NULL,
	[mp_end_date] [datetime] NULL,
	[rpt_sign_date] [datetime] NULL,
	[PrincipalExecutiveOfficerFirstName] [varchar](50) NULL,
	[PrincipalExecutiveOfficerLastName] [varchar](50) NULL,
	[PrincipalExecutiveOfficerTitle] [varchar](20) NULL,
	[PrincipalExecutiveOfficerTelephone] [varchar](20) NULL,
	[SignatoryFirstName] [varchar](50) NULL,
	[SignatoryLastName] [varchar](50) NULL,
	[certifier_phone] [varchar](80) NULL,
	[comment] [varchar](2000) NULL,
	[no_discharge_site] [char](10) NULL,
	[received_dttm] [datetime] NULL,
	[STATUS_CD] [varchar](50) NOT NULL CONSTRAINT [DF_WATER_02_ICIS_PREP_STATUS_CD]  DEFAULT ('N'),
	[CREATED_BY] [varchar](50) NOT NULL,
	[CREATED_DATE] [smalldatetime] NOT NULL,
	[UPDATED_BY] [varchar](50) NOT NULL CONSTRAINT [DF_WATER_02_ICIS_PREP_UPDATED_BY]  DEFAULT (suser_sname()),
	[UPDATED_DATE] [smalldatetime] NOT NULL CONSTRAINT [DF_WATER_02_ICIS_PREP_UPDATED_DATE]  DEFAULT (getdate()),
 CONSTRAINT [PK_WATER_02_ICIS_PREP_1] PRIMARY KEY CLUSTERED 
(
	[RESULT_ID] ASC,
	[submission_id_int] ASC,
	[transaction_id] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ACTIVITY_PROGRAM]    Script Date: 01/19/2012 11:11:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ACTIVITY_PROGRAM](
	[ACTIVITY_ID] [varchar](200) NULL,
	[PROGRAM_CODE] [varchar](200) NULL,
	[RANK_ORDER] [varchar](200) NULL,
	[XREF_ACTIVITY_PROGRAM_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ACTIVITY_PURPOSE]    Script Date: 01/19/2012 11:11:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ACTIVITY_PURPOSE](
	[ACTIVITY_ID] [varchar](200) NULL,
	[ACTIVITY_PURPOSE_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ACTIVITY_SIC]    Script Date: 01/19/2012 11:11:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ACTIVITY_SIC](
	[ACTIVITY_ID] [varchar](200) NULL,
	[SIC_CODE] [varchar](200) NULL,
	[PRIMARY_FLAG] [varchar](200) NULL,
	[INTERNAL_VERSION_NMBR] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_COMP_MONITOR_COMP_M_TYPE]    Script Date: 01/19/2012 11:11:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_COMP_MONITOR_COMP_M_TYPE](
	[ACTIVITY_ID] [varchar](200) NULL,
	[COMP_MONITOR_TYPE_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_DMR_PAR_ADMIN_DISCREPANCY]    Script Date: 01/19/2012 11:11:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_DMR_PAR_ADMIN_DISCREPANCY](
	[DMR_PARAMETER_ID] [varchar](200) NULL,
	[ADMIN_DISCREPANCY_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ENF_CONCLUSION_DEFENDANT]    Script Date: 01/19/2012 11:11:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ENF_CONCLUSION_DEFENDANT](
	[DEFENDANT_ID] [varchar](200) NULL,
	[ENF_CONCLUSION_ID] [varchar](200) NULL,
	[XREF_ENF_CONCLUSION_DEFEND_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ENF_CONCLUSION_FACILITY]    Script Date: 01/19/2012 11:11:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ENF_CONCLUSION_FACILITY](
	[ACTIVITY_ID] [varchar](200) NULL,
	[ICIS_FACILITY_INTEREST_ID] [varchar](200) NULL,
	[ENF_CONCLUSION_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ENF_CONCLUSION_STATUTE]    Script Date: 01/19/2012 11:11:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ENF_CONCLUSION_STATUTE](
	[ENF_CONCLUSION_ID] [varchar](200) NULL,
	[STATUTE_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ENF_TYPE]    Script Date: 01/19/2012 11:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ENF_TYPE](
	[ACTIVITY_ID] [varchar](200) NULL,
	[ENF_TYPE_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ENF_VIOLATION]    Script Date: 01/19/2012 11:11:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ENF_VIOLATION](
	[ACTIVITY_ID] [varchar](200) NULL,
	[VIOLATION_TYPE_CODE] [varchar](200) NULL,
	[RANK_ORDER] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[icis_dmr_validate_null]    Script Date: 01/19/2012 11:05:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[icis_dmr_validate_null](
	[submission_id_int] [int] NOT NULL,
	[internal_trans_id] [int] NOT NULL,
	[permit_no] [varchar](100) NOT NULL,
	[station_no] [varchar](10) NOT NULL,
	[report_designator] [varchar](1) NOT NULL,
	[mp_end_date] [varchar](30) NOT NULL,
	[received_dttm] [varchar](30) NOT NULL,
	[stage_code] [varchar](10) NOT NULL,
	[LimitSeasonNumber] [varchar](30) NOT NULL,
	[sample_type] [varchar](100) NOT NULL,
	[sample_freq] [varchar](100) NOT NULL,
	[load_conc_value] [varchar](500) NOT NULL,
	[load_conc_unit] [varchar](100) NOT NULL,
	[created_dttm] [datetime] NOT NULL,
	[created_by] [char](100) NOT NULL,
	[updated_dttm] [datetime] NOT NULL,
	[updated_by] [char](100) NOT NULL,
	[transaction_id] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_FAC_INT_CLASSIFICATION]    Script Date: 01/19/2012 11:11:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_FAC_INT_CLASSIFICATION](
	[CLASSIFICATION_CODE] [varchar](200) NULL,
	[ICIS_FACILITY_INTEREST_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_FACILITY_INTEREST_SIC]    Script Date: 01/19/2012 11:12:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_FACILITY_INTEREST_SIC](
	[ICIS_FACILITY_INTEREST_ID] [varchar](200) NULL,
	[SIC_CODE] [varchar](200) NULL,
	[PRIMARY_INDICATOR_FLAG] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_LIMIT_MONTH]    Script Date: 01/19/2012 11:12:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_LIMIT_MONTH](
	[MONTH_CODE] [varchar](200) NULL,
	[LIMIT_ID] [varchar](200) NULL,
	[XREF_LIMIT_MONTH_ID] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_LIMIT_SET_MONTH]    Script Date: 01/19/2012 11:12:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_LIMIT_SET_MONTH](
	[LIMIT_SET_ID] [varchar](200) NULL,
	[MONTH_CODE] [varchar](200) NULL,
	[XREF_LIMIT_SET_MONTH_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_NPDES_VIOLATION_ENF]    Script Date: 01/19/2012 11:12:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_NPDES_VIOLATION_ENF](
	[NPDES_VIOLATION_ID] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_PERM_FEATURE_CHARACTER]    Script Date: 01/19/2012 11:12:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_PERM_FEATURE_CHARACTER](
	[PERM_FEATURE_ID] [varchar](200) NULL,
	[CHARACTERISTIC_CODE] [varchar](200) NULL,
	[XREF_PERM_FEATURE_CHARACTER_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_PERM_FEATURE_TREATMENT]    Script Date: 01/19/2012 11:12:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_PERM_FEATURE_TREATMENT](
	[PERM_FEATURE_ID] [varchar](200) NULL,
	[TREATMENT_TYPE_CODE] [varchar](200) NULL,
	[XREF_PERM_FEATURE_TREATMENT_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_NPDES_VIOLATION]    Script Date: 01/19/2012 11:07:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_NPDES_VIOLATION](
	[NPDES_VIOLATION_ID] [varchar](200) NULL,
	[RNC_DETECTION_DATE] [varchar](200) NULL,
	[RNC_RESOLUTION_DATE] [varchar](200) NULL,
	[SINGLE_EVENT_VIOLATION_UDF1] [varchar](200) NULL,
	[SINGLE_EVENT_VIOLATION_UDF2] [varchar](200) NULL,
	[SINGLE_EVENT_VIOLATION_UDF3] [varchar](200) NULL,
	[SINGLE_EVENT_VIOLATION_UDF4] [varchar](200) NULL,
	[SINGLE_EVENT_VIOLATION_UDF5] [varchar](200) NULL,
	[SINGLE_EVENT_VIOLATION_DATE] [varchar](200) NULL,
	[SINGLE_EVENT_BEGIN_DATE] [varchar](200) NULL,
	[SINGLE_EVENT_END_DATE] [varchar](200) NULL,
	[SINGLE_EVENT_VIOLATION_COMMENT] [varchar](4000) NULL,
	[PERMIT_ACTIVITY_ID] [varchar](200) NULL,
	[DMR_FORM_VALUE_ID] [varchar](200) NULL,
	[PERM_SCHEDULE_EVENT_ID] [varchar](200) NULL,
	[RNC_RESOLUTION_CODE] [varchar](200) NULL,
	[RNC_DETECTION_CODE] [varchar](200) NULL,
	[VIOLATION_CODE] [varchar](200) NULL,
	[COMP_SCHEDULE_EVENT_ID] [varchar](200) NULL,
	[SINGLE_EVENT_AGENCY_TYPE_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PRE_SUBMIT_CHECK_LIST]    Script Date: 01/19/2012 11:09:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PRE_SUBMIT_CHECK_LIST](
	[MODULE_NAME] [varchar](50) NOT NULL,
	[ERROR_CODE] [varchar](20) NOT NULL,
	[ERROR_MESSAGE] [varchar](400) NULL,
	[REASON_FOR_ERROR] [varchar](400) NULL,
	[RESULT_OF_ERROR] [varchar](400) NULL,
	[KEY_FIELD] [varchar](400) NULL,
	[CHECK_SQL] [varchar](4000) NULL,
	[CHECK_IND] [char](1) NULL,
 CONSTRAINT [ICIS_PRE_SUBMIT_CHECK_LIST_PK] PRIMARY KEY CLUSTERED 
(
	[ERROR_CODE] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PRE_SUBMIT_ERROR_LOG]    Script Date: 01/19/2012 11:09:47 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PRE_SUBMIT_ERROR_LOG](
	[ERROR_CODE] [varchar](20) NOT NULL,
	[ACTIVITY_ID] [varchar](200) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[_NMS_to_ICIS_Mapping]    Script Date: 01/19/2012 11:01:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[_NMS_to_ICIS_Mapping](
	[NMS_Table] [varchar](100) NULL,
	[NMS_Column] [varchar](200) NULL,
	[ICIS_Table] [varchar](100) NULL,
	[ICiS_Column] [varchar](200) NULL,
	[Submit_EPA_ind] [char](1) NULL,
	[Action] [varchar](2000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PERM_ASSOCIATION]    Script Date: 01/19/2012 11:07:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERM_ASSOCIATION](
	[ACTIVITY_ID] [varchar](200) NULL,
	[PERM_ASSOCIATION_CODE] [varchar](200) NULL,
	[PERM_ASSOCIATION_ID] [varchar](200) NULL,
	[RELATED_EXTERNAL_PERMIT_NMBR] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_ACTIVITY]    Script Date: 01/19/2012 11:02:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_ACTIVITY](
	[ACTIVITY_ID] [varchar](200) NULL,
	[ACTIVITY_NAME] [varchar](200) NULL,
	[STATE_CODE] [varchar](200) NULL,
	[COMP_INCENTIVE_CODE] [varchar](200) NULL,
	[REGION_CODE] [varchar](200) NULL,
	[FISCAL_YEAR] [varchar](200) NULL,
	[ACTIVITY_STATUS_CODE] [varchar](200) NULL,
	[ACTIVITY_TYPE_CODE] [varchar](200) NULL,
	[ACTIVITY_STATUS_DATE] [varchar](200) NULL,
	[ACTUAL_BEGIN_DATE] [varchar](200) NULL,
	[ACTUAL_END_DATE] [varchar](200) NULL,
	[PLANNED_BEGIN_DATE] [varchar](200) NULL,
	[PLANNED_END_DATE] [varchar](200) NULL,
	[CANCELLATION_DATE] [varchar](200) NULL,
	[CANCELLATION_REASON_CODE] [varchar](200) NULL,
	[DURATION] [varchar](200) NULL,
	[TOTAL_HOURS] [varchar](200) NULL,
	[MULTIMEDIA_FLAG] [varchar](200) NULL,
	[SENSITIVE_DATA_FLAG] [varchar](200) NULL,
	[INTERNAL_REVIEW_FLAG] [varchar](200) NULL,
	[COORDINATED_FLAG] [varchar](200) NULL,
	[CONSOLIDATED_FLAG] [varchar](200) NULL,
	[EPA_ASSIST_FLAG] [varchar](200) NULL,
	[STATE_EPA_FLAG] [varchar](200) NULL,
	[PERMIT_NO] [varchar](100) NULL,
	[OPERATION_CD] [varchar](50) NULL,
	[PROCESSING_STATUS_CD] [varchar](50) NULL,
	[DELETE_TYPE] [varchar](50) NULL,
	[STG_DATA_CREATE_DATE] [datetime] NULL,
	[icis_tran_status] [char](1) NULL,
	[icis_tran_id] [varchar](100) NULL,
	[xml_validated_ind] [varchar](5) NULL,
	[xml_validate_result] [varchar](2000) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_FACILITY_INTEREST_ADDRESS]    Script Date: 01/19/2012 11:11:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_FACILITY_INTEREST_ADDRESS](
	[ADDRESS_ID] [varchar](200) NULL,
	[ICIS_FACILITY_INTEREST_ID] [varchar](200) NULL,
	[affiliation_type_code] [varchar](10) NULL,
	[begin_date] [datetime] NULL,
	[end_date] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_PERM_COMPONENT_TYPE]    Script Date: 01/19/2012 11:12:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_PERM_COMPONENT_TYPE](
	[ACTIVITY_ID] [varchar](255) NULL,
	[COMPONENT_TYPE_CODE] [varchar](255) NULL,
	[CREATED_BY] [varchar](255) NULL,
	[CREATED_DATE] [varchar](255) NULL,
	[UPDATED_BY] [varchar](255) NULL,
	[UPDATED_DATE] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_LIMIT_VALUE]    Script Date: 01/19/2012 11:07:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_LIMIT_VALUE](
	[LIMIT_VALUE_ID] [varchar](255) NULL,
	[LIMIT_ID] [varchar](255) NULL,
	[VALUE_TYPE_CODE] [varchar](255) NULL,
	[UNIT_CODE] [varchar](255) NULL,
	[STATISTICAL_BASE_CODE] [varchar](255) NULL,
	[OPTIONAL_MONITORING_FLAG] [varchar](255) NULL,
	[LIMIT_VALUE_NMBR] [varchar](255) NULL,
	[LIMIT_VALUE_STANDARD_UNITS] [varchar](255) NULL,
	[STAY_VALUE_NMBR] [varchar](255) NULL,
	[STAY_VALUE_STANDARD_UNITS] [varchar](255) NULL,
	[MASTER_LIMIT_VALUE_ID] [varchar](255) NULL,
	[CREATION_TYPE_CODE] [varchar](255) NULL,
	[SOURCE_LIMIT_VALUE_ID] [varchar](255) NULL,
	[VALUE_QUALIFIER_CODE] [varchar](255) NULL,
	[CREATED_BY] [varchar](255) NULL,
	[CREATED_DATE] [varchar](255) NULL,
	[UPDATED_BY] [varchar](255) NULL,
	[UPDATED_DATE] [varchar](255) NULL,
	[ACTIVITY_ID] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_REF_MAPPING]    Script Date: 01/19/2012 11:10:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_REF_MAPPING](
	[ICIS_REF_TABLE_NAME] [varchar](100) NULL,
	[ICIS_REF_CODE] [varchar](100) NULL,
	[ICIS_REF_CODE_DESC] [varchar](400) NULL,
	[ICIS_STATUS] [varchar](50) NULL,
	[SYSTEM] [varchar](100) NULL,
	[SYSTEM_CODE] [varchar](100) NULL,
	[SYSTEM_CODE_DESC] [varchar](400) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[pcs_flag]    Script Date: 01/19/2012 11:10:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pcs_flag](
	[PCS_CODE] [nvarchar](255) NULL,
	[PCS_CODE_DESC] [nvarchar](255) NULL,
	[ICIS_CODE] [nvarchar](255) NULL,
	[ICIS_CODE_DESC] [nvarchar](255) NULL,
	[STATUS_CD] [nvarchar](255) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[v_list]    Script Date: 01/19/2012 11:10:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[v_list](
	[table_name] [sysname] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ICIS_PERM_BIOSOLID]    Script Date: 01/19/2012 11:08:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERM_BIOSOLID](
	[ACTIVITY_ID] [varchar](255) NULL,
	[eq_product_amt] [varchar](255) NULL,
	[land_applied_amt] [varchar](255) NULL,
	[incinerated_amt] [varchar](255) NULL,
	[co_disposed_amt] [varchar](255) NULL,
	[surface_disposal_amt] [varchar](255) NULL,
	[other_method_amt] [varchar](255) NULL,
	[os_source_amt] [varchar](255) NULL,
	[transferred_amt] [varchar](255) NULL,
	[os_disposed_amt] [varchar](255) NULL,
	[os_beneficially_used_amt] [varchar](255) NULL,
	[os_other_method_amt] [varchar](255) NULL,
	[total_removed_amt] [varchar](255) NULL,
	[annual_dry_sludge] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PERM_CAFO]    Script Date: 01/19/2012 11:08:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERM_CAFO](
	[ACTIVITY_ID] [varchar](255) NULL,
	[cafo_classification_code] [varchar](255) NULL,
	[cafo_animal_facility_flag] [varchar](255) NULL,
	[designation_date] [varchar](255) NULL,
	[cafo_reason_text] [varchar](255) NULL,
	[nmbr_of_acres_drainage] [varchar](255) NULL,
	[land_available] [varchar](255) NULL,
	[solid_manure_generated_amt] [varchar](255) NULL,
	[liquid_manure_generated_amt] [varchar](255) NULL,
	[solid_manure_transferred_amt] [varchar](255) NULL,
	[liquid_manure_transferred_amt] [varchar](255) NULL,
	[nmp_flag] [varchar](255) NULL,
	[nmp_developed_date] [varchar](255) NULL,
	[nmp_last_updated_date] [varchar](255) NULL,
	[ems_flag] [varchar](255) NULL,
	[ems_developed_date] [varchar](255) NULL,
	[ems_last_updated_date] [varchar](255) NULL,
	[livestock_max_capacity] [varchar](255) NULL,
	[livestock_determin_capacity] [varchar](255) NULL,
	[livestock_authorized_capacity] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[icis_address_electronic_addr]    Script Date: 01/19/2012 11:03:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[icis_address_electronic_addr](
	[ADDRESS_ID] [int] NULL,
	[electronic_address_text] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[convert_pcs_to_icis]    Script Date: 01/19/2012 11:02:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[convert_pcs_to_icis](
	[LEGACY_TABLE_NAME] [nvarchar](255) NULL,
	[LEGACY_CODE] [nvarchar](255) NULL,
	[LEGACY_CODE_DESC] [nvarchar](255) NULL,
	[NEW_TABLE_NAME] [nvarchar](255) NULL,
	[NEW_CODE] [nvarchar](255) NULL,
	[NEW_CODE_DESC] [nvarchar](255) NULL,
	[NEW_CODE_SHORT_DESC] [nvarchar](255) NULL,
	[STATUS_FLAG] [nvarchar](255) NULL,
	[COMMENTS] [nvarchar](255) NULL,
	[LAST_UPDATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[convert_pcs_to_icis_mapping]    Script Date: 01/19/2012 11:02:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[convert_pcs_to_icis_mapping](
	[LEGACY_TABLE_NAME] [nvarchar](255) NULL,
	[LEGACY_CODE] [nvarchar](255) NULL,
	[LEGACY_CODE_DESC] [nvarchar](255) NULL,
	[NEW_TABLE_NAME] [nvarchar](255) NULL,
	[NEW_CODE] [nvarchar](255) NULL,
	[NEW_CODE_DESC] [nvarchar](255) NULL,
	[NEW_CODE_SHORT_DESC] [nvarchar](255) NULL,
	[STATUS_FLAG] [nvarchar](255) NULL,
	[COMMENTS] [nvarchar](255) NULL,
	[LAST_UPDATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MISSING_ref_parameter]    Script Date: 01/19/2012 11:10:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MISSING_ref_parameter](
	[PAR_CODE] [char](5) NOT NULL,
	[PAR_NAME] [varchar](50) NOT NULL,
	[DEQ_PAR_NAME] [varchar](100) NOT NULL,
	[TRC_VALUE] [numeric](8, 2) NULL,
	[STATUS_IND] [char](1) NULL,
	[CATEGORY_IND] [char](1) NULL,
	[DETECT_LIMIT] [numeric](16, 6) NULL,
	[DET_UNIT] [varchar](10) NULL,
	[SAMPLE_SIZE] [varchar](40) NULL,
	[PRESERVATION] [varchar](50) NULL,
	[CAS_NO] [varchar](30) NULL,
	[SHOW_IND] [char](1) NULL,
	[QUICK_ENTRY_IND] [char](1) NULL,
	[SAMPLE_TYPE] [char](7) NULL,
	[ANALYSIS_METHOD] [varchar](30) NULL,
	[PROCEDURE_NO] [char](5) NULL,
	[STORET_NUMBER] [varchar](12) NULL,
	[DATA_SOURCE] [varchar](255) NULL,
	[LOAD_MIN_M_CD] [varchar](12) NULL,
	[LOAD_MAX_M_CD] [varchar](12) NULL,
	[LOAD_AVG_M_CD] [varchar](12) NULL,
	[CONC_MIN_M_CD] [varchar](12) NULL,
	[CONC_MAX_M_CD] [varchar](12) NULL,
	[CONC_AVG_M_CD] [varchar](12) NULL,
	[CONC_DECIMALS] [int] NULL,
	[LOAD_DECIMALS] [int] NULL,
	[AVG_CONC_UNIT] [varchar](10) NULL,
	[AVG_LOAD_UNIT] [varchar](10) NULL,
	[dmr_summary_print_seq] [int] NOT NULL,
	[dmr_daily_print_seq] [int] NOT NULL,
	[permit_print_seq] [int] NULL,
	[created_dttm] [datetime] NOT NULL,
	[created_by] [char](25) NOT NULL,
	[updated_dttm] [datetime] NOT NULL,
	[updated_by] [char](25) NOT NULL,
	[program_apply_cd] [char](1) NOT NULL,
	[factor] [int] NOT NULL,
	[max_value_load] [float] NOT NULL,
	[min_value_load] [float] NOT NULL,
	[max_value_conc] [float] NOT NULL,
	[min_value_conc] [float] NOT NULL,
	[biosolids_print_seq] [int] NULL,
	[DEFAULT_RATE] [varchar](12) NULL,
	[DEFAULT_RATE_UNIT] [varchar](10) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_ACTIVITY_COMMENT]    Script Date: 01/19/2012 11:02:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_ACTIVITY_COMMENT](
	[ACTIVITY_COMMENT_ID] [varchar](200) NULL,
	[COMMENT_TYPE_CODE] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL,
	[COMMENT_BY] [varchar](200) NULL,
	[COMMENT_DATE] [varchar](200) NULL,
	[COMMENT_TEXT] [varchar](4000) NULL,
	[SENSITIVITY_LEVEL] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_ADDRESS]    Script Date: 01/19/2012 11:03:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_ADDRESS](
	[ADDRESS_ID] [varchar](200) NULL,
	[STREET_ADDRESS] [varchar](200) NULL,
	[SUPPLEMENTAL_ADDRESS_TEXT] [varchar](200) NULL,
	[ORGANIZATION_FORMAL_NAME] [varchar](200) NULL,
	[ORGANIZATION_DUNS_NMBR] [varchar](200) NULL,
	[DIVISION_NAME] [varchar](200) NULL,
	[CITY] [varchar](200) NULL,
	[COUNTY] [varchar](200) NULL,
	[PROVINCE] [varchar](200) NULL,
	[STATE_CODE] [varchar](200) NULL,
	[STATE_REGION] [varchar](200) NULL,
	[ZIP] [varchar](200) NULL,
	[COUNTRY_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_COMP_MONITOR]    Script Date: 01/19/2012 11:03:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_COMP_MONITOR](
	[ACTIVITY_ID] [varchar](200) NULL,
	[COMP_MONITOR_CATEGORY_CODE] [varchar](200) NULL,
	[AREA_OF_EVALUATION] [varchar](200) NULL,
	[WEATHER_CONDITION] [varchar](200) NULL,
	[FIELD_DESCRIPTION] [varchar](200) NULL,
	[RECOMMENDATION] [varchar](200) NULL,
	[COMP_MONITOR_TEXT] [varchar](200) NULL,
	[TOTAL_HOURS] [varchar](200) NULL,
	[COMMUNICATE_FACILITY_FLAG] [varchar](200) NULL,
	[GENERAL_COMP_ASSISTANCE_FLAG] [varchar](200) NULL,
	[COMMUNICATE_DEFICIENCY_FLAG] [varchar](200) NULL,
	[FACILITY_ACTION_FLAG] [varchar](200) NULL,
	[COMP_ASSISTANT_TIER_FLAG] [varchar](200) NULL,
	[REPORT_FUTURE_ACTION_FLAG] [varchar](200) NULL,
	[NMBR_OF_DAY] [varchar](200) NULL,
	[JOINT_INSPECTION_FLAG] [varchar](200) NULL,
	[JOINT_INSPECTION_PURPOSE_CODE] [varchar](200) NULL,
	[JOINT_LEAD_FLAG] [varchar](200) NULL,
	[INSP_RATING_CODE] [varchar](200) NULL,
	[OBSERVED_DEFICIENCY_FLAG] [varchar](200) NULL,
	[SPECIFIC_COMP_ASSISTANCE_FLAG] [varchar](200) NULL,
	[BIOMONITORING_METHOD_CODE] [varchar](200) NULL,
	[CAFO_CLASSIFICATION_CODE] [varchar](200) NULL,
	[ACTIVITY_OUTCOME_CODE] [varchar](200) NULL,
	[MEDIA_CODE] [varchar](200) NULL,
	[COMP_ASSISTANCE_FLAG] [varchar](200) NULL,
	[AGENCY_CODE] [varchar](200) NULL,
	[STATE_STATUTE_TEXT] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_COMP_MONITOR_PRETREATMENT]    Script Date: 01/19/2012 11:03:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_COMP_MONITOR_PRETREATMENT](
	[ACTIVITY_ID] [varchar](200) NULL,
	[SUO_REFERENCE] [varchar](200) NULL,
	[SUO_DATE] [varchar](200) NULL,
	[ACCEPT_HAZ_FLAG] [varchar](200) NULL,
	[ACCEPT_HAULED_NON_HAZ_FLAG] [varchar](200) NULL,
	[ACCEPT_HAULED_DOMESTIC_FLAG] [varchar](200) NULL,
	[ANNUAL_BUDGET] [varchar](200) NULL,
	[ADEQUATE_RESOURCE_FLAG] [varchar](200) NULL,
	[DEFICIENCY_IDENTIFIED_FLAG] [varchar](200) NULL,
	[DEFICIENCY_CONTROL_MECH_FLAG] [varchar](200) NULL,
	[DEFICIENCY_INTREPRETATION_FLAG] [varchar](200) NULL,
	[DEFICIENCY_LEGAL_FLAG] [varchar](200) NULL,
	[DEFICIENCY_DATA_MGNT_FLAG] [varchar](200) NULL,
	[VIOLATION_OF_SCHEDULE_FLAG] [varchar](200) NULL,
	[FORMAL_RESPONSE_FLAG] [varchar](200) NULL,
	[SIU_NMBR] [varchar](200) NULL,
	[SIU_WO_CONTROL_MECH_NMBR] [varchar](200) NULL,
	[SIU_NOT_INSPECTED_NMBR] [varchar](200) NULL,
	[SIU_NOT_SAMPLED_NMBR] [varchar](200) NULL,
	[SIU_SNC_PRE_STD_NMBR] [varchar](200) NULL,
	[SIU_SNC_RPT_REQUIREMENT_NMBR] [varchar](200) NULL,
	[SIU_SNC_PRETREATMENT_SCHEDULE] [varchar](200) NULL,
	[SIU_SNC_PUBLISHED_NEWS] [varchar](200) NULL,
	[SIU_SIGNIFICANT_VIOLATION_NMBR] [varchar](200) NULL,
	[SIU_VIOLATION_NOTICE_NMBR] [varchar](200) NULL,
	[SIU_ADMIN_ORDER_NMBR] [varchar](200) NULL,
	[SIU_ADMIN_SUIT_NMBR] [varchar](200) NULL,
	[SIU_CRIMINAL_SUIT_NMBR] [varchar](200) NULL,
	[INDUSTRIAL_USER_NMBR] [varchar](200) NULL,
	[CIU_NMBR] [varchar](200) NULL,
	[CIU_IN_SNC_NMBR] [varchar](200) NULL,
	[PASSTHROUGH_FLAG] [varchar](200) NULL,
	[FREQ_INFLUENT_TOXICANT_NMBR] [varchar](200) NULL,
	[FREQ_EFFLUENT_TOXICANT_NMBR] [varchar](200) NULL,
	[FREQ_SLUDGE_TOXICANT_NMBR] [varchar](200) NULL,
	[MOST_RECENT_EVAL_DATE] [varchar](200) NULL,
	[PENALTIES_COLLECTED_AMT] [varchar](200) NULL,
	[MOST_RECENT_ADOPT_DATE] [varchar](200) NULL,
	[MOST_RECENT_CREDIT_APPROV_DATE] [varchar](200) NULL,
	[INADEQUACY_SAMPLE_INSPECT_FLAG] [varchar](200) NULL,
	[IU_PENALTIES_COLLECTED_NMBR] [varchar](200) NULL,
	[SIU_SCHEDULE] [varchar](200) NULL,
	[REMOVAL_STATUS_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_COMP_SCHEDULE]    Script Date: 01/19/2012 11:03:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_COMP_SCHEDULE](
	[COMP_SCHEDULE_ID] [varchar](200) NULL,
	[COMP_SCHEDULE_NMBR] [varchar](200) NULL,
	[COMP_SCHEDULE_COMMENT_TEXT] [varchar](4000) NULL,
	[COMP_SCHEDULE_TYPE_FLAG] [varchar](200) NULL,
	[ENF_CONCLUSION_ID] [varchar](200) NULL,
	[NARRATIVE_CONDITION_CODE] [varchar](200) NULL,
	[ICIS_FACILITY_INTEREST_ID] [varchar](200) NULL,
	[RELATED_COMPONENT] [varchar](200) NULL,
	[NO_LONGER_APPLICABLE_FLAG] [varchar](200) NULL,
	[NO_LONGER_APPLICABLE_DATE] [varchar](200) NULL,
	[FINAL_ORDER_PARAGRAPH_NMBR] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_FACILITY_INTEREST_POLICY]    Script Date: 01/19/2012 11:12:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_FACILITY_INTEREST_POLICY](
	[ICIS_FACILITY_INTEREST_ID] [varchar](255) NULL,
	[POLICY_CODE] [varchar](25) NULL,
	[PRIMARY_INDICATOR_FLAG] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_COMP_SCHEDULE_EVENT]    Script Date: 01/19/2012 11:03:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_COMP_SCHEDULE_EVENT](
	[COMP_SCHEDULE_EVENT_ID] [varchar](200) NULL,
	[COMP_SCHEDULE_ID] [varchar](200) NULL,
	[SCHEDULE_DATE] [varchar](200) NULL,
	[ACTUAL_DATE] [varchar](200) NULL,
	[PROJECTED_DATE] [varchar](200) NULL,
	[REPORT_RECEIVED_DATE] [varchar](200) NULL,
	[EVENT_AMT] [varchar](200) NULL,
	[COMMENT_TEXT] [varchar](4000) NULL,
	[UDF1] [varchar](200) NULL,
	[UDF2] [varchar](200) NULL,
	[SCHEDULE_EVENT_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_CONTACT]    Script Date: 01/19/2012 11:04:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_CONTACT](
	[CONTACT_ID] [varchar](200) NULL,
	[FIRST_NAME] [varchar](200) NULL,
	[LAST_NAME] [varchar](200) NULL,
	[MIDDLE_NAME] [varchar](200) NULL,
	[TITLE] [varchar](200) NULL,
	[REGION_CODE] [varchar](200) NULL,
	[STATE_CODE] [varchar](200) NULL,
	[ORGANIZATION_FORMAL_NAME] [varchar](200) NULL,
	[FULL_NAME] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_DMR]    Script Date: 01/19/2012 11:04:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_DMR](
	[DMR_ID] [varchar](200) NULL,
	[SIGNATURE_DATE] [varchar](200) NULL,
	[DMR_COMMENT_TEXT] [varchar](4000) NULL,
	[SUBMIT_STATUS_FLAG] [varchar](200) NULL,
	[EXECUTIVE_OFFICER_FIRST_NAME] [varchar](200) NULL,
	[EXECUTIVE_OFFICER_LAST_NAME] [varchar](200) NULL,
	[EXECUTIVE_OFFICER_TITLE] [varchar](200) NULL,
	[SIGNATORY_FIRST_NAME] [varchar](200) NULL,
	[SIGNATORY_LAST_NAME] [varchar](200) NULL,
	[SIGNATORY_PHONE] [varchar](200) NULL,
	[DMR_FORM_ID] [varchar](200) NULL,
	[EXECUTIVE_OFFICER_PHONE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_FACILITY_INTEREST_PROGRAM]    Script Date: 01/19/2012 11:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[XREF_FACILITY_INTEREST_PROGRAM](
	[ICIS_FACILITY_INTEREST_ID] [varchar](255) NULL,
	[PROGRAM_CODE] [varchar](25) NULL,
	[PRIMARY_INDICATOR_FLAG] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_DMR_EVENT]    Script Date: 01/19/2012 11:04:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_DMR_EVENT](
	[DMR_EVENT_ID] [varchar](200) NULL,
	[LIMIT_SET_SCHEDULE_ID] [varchar](200) NULL,
	[LIMIT_SET_ID] [varchar](200) NULL,
	[DMR_DUE_DATE] [varchar](200) NULL,
	[MONITORING_PERIOD_END_DATE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_DMR_FORM_PARAMETER]    Script Date: 01/19/2012 11:04:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_DMR_FORM_PARAMETER](
	[DMR_FORM_PARAMETER_ID] [varchar](200) NULL,
	[DMR_FORM_ID] [varchar](200) NULL,
	[LIMIT_ID] [varchar](200) NULL,
	[PARAMETER_CODE] [varchar](200) NULL,
	[MONITORING_LOCATION_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_DMR_PARAMETER]    Script Date: 01/19/2012 11:04:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_DMR_PARAMETER](
	[DMR_PARAMETER_ID] [varchar](200) NULL,
	[SAMPLE_TYPE_CODE] [varchar](200) NULL,
	[REPORTED_EXCURSION_NMBR] [varchar](200) NULL,
	[FREQUENCY_OF_ANALYSIS_CODE] [varchar](200) NULL,
	[DMR_ID] [varchar](200) NULL,
	[DMR_FORM_PARAMETER_ID] [varchar](200) NULL,
	[USER_ENTERED_INDEX] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_FACILITY_INTEREST_NAICS]    Script Date: 01/19/2012 11:11:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_FACILITY_INTEREST_NAICS](
	[ICIS_FACILITY_INTEREST_ID] [varchar](255) NULL,
	[NAICS_CODE] [varchar](255) NULL,
	[PRIMARY_INDICATOR_FLAG] [varchar](255) NULL,
	[CREATED_BY] [varchar](255) NULL,
	[CREATED_DATE] [varchar](255) NULL,
	[UPDATED_BY] [varchar](255) NULL,
	[UPDATED_DATE] [varchar](255) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_DMR_VALUE]    Script Date: 01/19/2012 11:05:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_DMR_VALUE](
	[DMR_VALUE_ID] [varchar](200) NULL,
	[DMR_PARAMETER_ID] [varchar](200) NULL,
	[NODI_CODE] [varchar](200) NULL,
	[ADJUSTED_DMR_VALUE_NMBR] [varchar](200) NULL,
	[DMR_VALUE_NMBR] [varchar](200) NULL,
	[VALUE_QUALIFIER_CODE] [varchar](200) NULL,
	[UNIT_CODE] [varchar](200) NULL,
	[DMR_VALUE_STANDARD_UNITS] [varchar](200) NULL,
	[EXCEEDENCE_PCT] [varchar](200) NULL,
	[VALUE_RECEIVED_DATE] [varchar](200) NULL,
	[DAYS_LATE] [varchar](200) NULL,
	[ADJUSTED_DMR_STANDARD_UNITS] [varchar](200) NULL,
	[DMR_FORM_VALUE_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_ENF_CONCLUSION]    Script Date: 01/19/2012 11:05:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_ENF_CONCLUSION](
	[ENF_CONCLUSION_ID] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL,
	[ENF_CONCLUSION_ACTION_CODE] [varchar](200) NULL,
	[ENF_CONCLUSION_NAME] [varchar](200) NULL,
	[ALT_DISPUTE_RESOLUTION_FLAG] [varchar](200) NULL,
	[ENF_CONCLUSION_TEXT] [varchar](200) NULL,
	[STATE_LOCAL_PENALTY_AMT] [varchar](200) NULL,
	[ACTUAL_TERMINATION_DATE] [varchar](200) NULL,
	[PENALTY_COLLECTED_FLAG] [varchar](200) NULL,
	[MOST_RECENT_AMENDMENT_DATE] [varchar](200) NULL,
	[ESTIMATED_TERMINATION_DATE] [varchar](200) NULL,
	[IFMS_NMBR] [varchar](200) NULL,
	[OTHER_COST_RECOVERY_AMT] [varchar](200) NULL,
	[FED_PENALTY_ASSESSED_AMT] [varchar](200) NULL,
	[COST_RECOVERY_AWARDED_AMT] [varchar](200) NULL,
	[PENALTY_COLLECTED_AMT] [varchar](200) NULL,
	[STATE_LOCAL_COST_RECOVERY_AMT] [varchar](200) NULL,
	[COST_RECOVERY_OTHER_AMT] [varchar](200) NULL,
	[COST_RECOVERY_COLLECTED_AMT] [varchar](200) NULL,
	[EMS_REQUESTED_FLAG] [varchar](200) NULL,
	[POLLUTANT_REDUCTION_COST] [varchar](200) NULL,
	[POLLUTANT_NOT_REDUCTION_COST] [varchar](200) NULL,
	[SETTLEMENT_ENTERED_DATE] [varchar](200) NULL,
	[SETTLEMENT_LODGED_DATE] [varchar](200) NULL,
	[AGREEMENT_IN_PRINCIPLE_DATE] [varchar](200) NULL,
	[QNCR_COMMENT_TEXT] [varchar](4000) NULL,
	[NPDES_CLOSED_DATE] [varchar](200) NULL,
	[ENF_CONCLUSION_NMBR] [varchar](200) NULL,
	[REGIONAL_DOCUMENT_NICK_NAME] [varchar](200) NULL,
	[PREVENTATIVE_ACTION_COST] [varchar](200) NULL,
	[HISTORIC_SEP_AMT] [varchar](200) NULL,
	[DOCKET_CONSENT_ID] [varchar](200) NULL,
	[NPDES_CLOSED_SYS_GEN_FLAG] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_ENF_DEFENDANT]    Script Date: 01/19/2012 11:05:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_ENF_DEFENDANT](
	[DEFENDANT_ID] [varchar](200) NULL,
	[ICIS_FACILITY_INTEREST_ID] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL,
	[DEFENDANT_NAME] [varchar](200) NULL,
	[REASON_IN_COMPLAINT] [varchar](200) NULL,
	[NAMED_IN_COMPLAINT_FLAG] [varchar](200) NULL,
	[NAMED_IN_SETTLEMENT_FLAG] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_ENF_REGIONAL_DOCKET]    Script Date: 01/19/2012 11:05:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_ENF_REGIONAL_DOCKET](
	[ACTIVITY_ID] [varchar](200) NULL,
	[REGIONAL_DOCKET_NMBR] [varchar](200) NULL,
	[ENF_REGIONAL_DOCKET_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_FACILITY_INTEREST_CONTACT]    Script Date: 01/19/2012 11:11:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_FACILITY_INTEREST_CONTACT](
	[CONTACT_ID] [varchar](200) NULL,
	[ICIS_FACILITY_INTEREST_ID] [varchar](200) NULL,
	[affiliation_type_code] [varchar](10) NULL,
	[begin_date] [datetime] NULL,
	[end_date] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_ENFORCEMENT]    Script Date: 01/19/2012 11:06:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_ENFORCEMENT](
	[ACTIVITY_ID] [varchar](200) NULL,
	[REFERRED_OFFICE_ID] [varchar](200) NULL,
	[PENALTY_SOUGHT_AMT] [varchar](200) NULL,
	[JUDICIAL_DISTRICT_CODE] [varchar](200) NULL,
	[COST_RECOVERY_SOUGHT_AMT] [varchar](200) NULL,
	[ENF_NAME] [varchar](200) NULL,
	[ENF_IDENTIFIER] [varchar](200) NULL,
	[COURT_ENF_NAME] [varchar](200) NULL,
	[DOJ_DOCKET_NMBR] [varchar](200) NULL,
	[DOJ_ENF_NAME] [varchar](200) NULL,
	[COST_OF_HEARING_PROPOSED] [varchar](200) NULL,
	[COST_OF_HEARING_ACTUAL] [varchar](200) NULL,
	[LEGAL_ID] [varchar](200) NULL,
	[ENF_OUTCOME_CODE] [varchar](200) NULL,
	[GEO_INITIATIVE_NARRATIVE] [varchar](200) NULL,
	[VOLUNTARY_SELF_DISCLOSURE_FLAG] [varchar](200) NULL,
	[TOTAL_PENALTY_ASSESSED_AMT] [varchar](200) NULL,
	[TOTAL_COST_RECOVERY_AMT] [varchar](200) NULL,
	[TOTAL_COMP_ACTION_AMT] [varchar](200) NULL,
	[CORE_FLAG] [varchar](200) NULL,
	[OVERFILE_FLAG] [varchar](200) NULL,
	[MULTIREGIONAL_FLAG] [varchar](200) NULL,
	[ARCHIVE_FLAG] [varchar](200) NULL,
	[REFERRED_DATE] [varchar](200) NULL,
	[FILED_DATE] [varchar](200) NULL,
	[NOTICE_PLEADING_FLAG] [varchar](200) NULL,
	[AGENCY_NAME] [varchar](200) NULL,
	[STATE_LAW_SECTION_VIOLATED] [varchar](200) NULL,
	[OTHER_WATER_PROGRAM_VIOLATED] [varchar](200) NULL,
	[ACHIEVED_DATE] [varchar](200) NULL,
	[BRANCH] [varchar](200) NULL,
	[HQ_DIVISION] [varchar](200) NULL,
	[LAST_UPDATED_BY] [varchar](200) NULL,
	[LAST_UPDATED_DATE] [varchar](200) NULL,
	[HIST_COURT_DOCKET_NMBR] [varchar](200) NULL,
	[ENF_SUMMARY_TEXT] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_FACILITY_INTEREST]    Script Date: 01/19/2012 11:06:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_FACILITY_INTEREST](
	[ICIS_FACILITY_INTEREST_ID] [varchar](200) NULL,
	[PGM_SYS_ACRNM] [varchar](200) NULL,
	[PGM_SYS_ID] [varchar](200) NULL,
	[FACILITY_UIN] [varchar](200) NULL,
	[FACILITY_TYPE_CODE] [varchar](200) NULL,
	[FACILITY_NAME] [varchar](200) NULL,
	[LOCATION_ADDRESS] [varchar](200) NULL,
	[SUPPLEMENTAL_ADDRESS_TEXT] [varchar](200) NULL,
	[CITY] [varchar](200) NULL,
	[CITY_CODE] [varchar](200) NULL,
	[COUNTY_CODE] [varchar](200) NULL,
	[STATE_CODE] [varchar](200) NULL,
	[ZIP] [varchar](200) NULL,
	[COUNTRY_CODE] [varchar](200) NULL,
	[FEDERAL_FACILITY_ID] [varchar](200) NULL,
	[FEDERAL_FACILITY_FLAG] [varchar](200) NULL,
	[TRIBAL_LAND_FLAG] [varchar](200) NULL,
	[CONGRESSIONAL_DIST_NUM] [varchar](200) NULL,
	[LEGISLATIVE_DIST_NUM] [varchar](200) NULL,
	[FEDERAL_AGENCY_CODE] [varchar](200) NULL,
	[HUC_CODE] [varchar](200) NULL,
	[EPA_REGION_CODE] [varchar](200) NULL,
	[TRIBAL_LAND_R_CODE] [varchar](200) NULL,
	[ORGANIZATION_DUNS_NMBR] [varchar](200) NULL,
	[SMALL_BUSINESS_FLAG] [varchar](200) NULL,
	[ENVIRONMENTAL_JUSTICE_CODE] [varchar](200) NULL,
	[COMMENT_TEXT] [varchar](4000) NULL,
	[STATE_REGION] [varchar](200) NULL,
	[NPL_FLAG] [varchar](200) NULL,
	[SENSITIVE_DATA_FLAG] [varchar](200) NULL,
	[STATE_FACILITY_ID] [varchar](200) NULL,
	[SECTION_TOWNSHIP_RANGE] [varchar](200) NULL,
	[UDF1] [varchar](200) NULL,
	[UDF2] [varchar](200) NULL,
	[UDF3] [varchar](200) NULL,
	[UDF4] [varchar](200) NULL,
	[UDF5] [varchar](200) NULL,
	[GEOCODE_LONGITUDE] [varchar](200) NULL,
	[GEOCODE_LATITUDE] [varchar](200) NULL,
	[CONSTRUCTION_PROJECT_NAME] [varchar](200) NULL,
	[GEOMETRIC_TYPE_CODE] [varchar](200) NULL,
	[HORIZONTAL_COLLECT_METHOD_CODE] [varchar](200) NULL,
	[HORIZONTAL_REF_DATUM_CODE] [varchar](200) NULL,
	[REFERENCE_POINT_CODE] [varchar](200) NULL,
	[CONSTRUCTION_PROJECT_LAT] [varchar](200) NULL,
	[CONSTRUCTION_PROJECT_LONG] [varchar](200) NULL,
	[HORIZONTAL_ACCURACY_MEASURE] [varchar](200) NULL,
	[SOURCE_MAP_SCALE_NMBR] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_LIMIT]    Script Date: 01/19/2012 11:06:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_LIMIT](
	[LIMIT_ID] [varchar](200) NULL,
	[LIMIT_TYPE_CODE] [varchar](200) NULL,
	[MONITORING_LOCATION_CODE] [varchar](200) NULL,
	[LIMIT_SEASON_ID] [varchar](200) NULL,
	[LIMIT_BEGIN_DATE] [varchar](200) NULL,
	[LIMIT_END_DATE] [varchar](200) NULL,
	[SAMPLE_TYPE_CODE] [varchar](200) NULL,
	[BURDEN_REDUCTION_FLAG] [varchar](200) NULL,
	[FREQUENCY_OF_ANALYSIS_CODE] [varchar](200) NULL,
	[CHANGE_LIMIT_STATUS_CODE] [varchar](200) NULL,
	[BASIS_OF_LIMIT_CODE] [varchar](200) NULL,
	[STAY_TYPE_CODE] [varchar](200) NULL,
	[STAY_BEGIN_DATE] [varchar](200) NULL,
	[STAY_END_DATE] [varchar](200) NULL,
	[UDF1] [varchar](200) NULL,
	[UDF2] [varchar](200) NULL,
	[UDF3] [varchar](200) NULL,
	[MASTER_LIMIT_SET_ID] [varchar](200) NULL,
	[ENF_CONCLUSION_ID] [varchar](200) NULL,
	[LIMIT_SET_ID] [varchar](200) NULL,
	[STAY_VALUE_CALC_FLAG] [varchar](200) NULL,
	[PARAMETER_CODE] [varchar](200) NULL,
	[CREATION_TYPE_CODE] [varchar](200) NULL,
	[SOURCE_LIMIT_ID] [varchar](200) NULL,
	[STAY_REASON_TEXT] [varchar](200) NULL,
	[MODIFICATION_TYPE_CODE] [varchar](200) NULL,
	[MODIFICATION_EFFECTIVE_DATE] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_LIMIT_SET]    Script Date: 01/19/2012 11:06:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_LIMIT_SET](
	[LIMIT_SET_ID] [varchar](200) NULL,
	[LIMIT_SET_TYPE_CODE] [varchar](200) NULL,
	[LIMIT_SET_DESIGNATOR] [varchar](200) NULL,
	[LIMIT_SET_NAME] [varchar](200) NULL,
	[DMR_COMMENT_TEXT] [varchar](4000) NULL,
	[AGENCY_REVIEWER] [varchar](200) NULL,
	[UDF1] [varchar](200) NULL,
	[UDF2] [varchar](200) NULL,
	[PERM_FEATURE_ID] [varchar](200) NULL,
	[MASTER_LIMIT_SET_ID] [varchar](200) NULL,
	[REPORT_FREQUENCY_CODE] [varchar](200) NULL,
	[CREATION_TYPE_CODE] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_LIMIT_SET_SCHEDULE]    Script Date: 01/19/2012 11:06:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_LIMIT_SET_SCHEDULE](
	[LIMIT_SET_SCHEDULE_ID] [varchar](200) NULL,
	[LIMIT_SET_ID] [varchar](200) NULL,
	[INITIAL_MONITORING_DATE] [varchar](200) NULL,
	[INITIAL_DMR_DUE_DATE] [varchar](200) NULL,
	[NMBR_OF_REPORT] [varchar](200) NULL,
	[NMBR_OF_SUBMISSION] [varchar](200) NULL,
	[MODIFICATION_EFFECTIVE_DATE] [varchar](200) NULL,
	[MODIFICATION_TYPE_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_LIMIT_SET_STATUS]    Script Date: 01/19/2012 11:06:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_LIMIT_SET_STATUS](
	[LIMIT_SET_STATUS_ID] [varchar](200) NULL,
	[STATUS_BEGIN_DATE] [varchar](200) NULL,
	[STATUS_END_DATE] [varchar](200) NULL,
	[STATUS_CHANGE_REASON_TEXT] [varchar](200) NULL,
	[LIMIT_SET_ID] [varchar](200) NULL,
	[STATUS_FLAG] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_LIMIT_TRADE_PARTNER]    Script Date: 01/19/2012 11:07:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_LIMIT_TRADE_PARTNER](
	[LIMIT_TRADE_PARTNER_ID] [varchar](200) NULL,
	[TRADE_PARTNER_NPDES_ID] [varchar](200) NULL,
	[TRADE_PARTNER_OTHER_ID] [varchar](200) NULL,
	[TRADE_PARTNER_BEGIN_DATE] [varchar](200) NULL,
	[TRADE_PARTNER_END_DATE] [varchar](200) NULL,
	[ORGANIZATION_FORMAL_NAME] [varchar](200) NULL,
	[LOCATION_NAME] [varchar](200) NULL,
	[STREET_ADDRESS] [varchar](200) NULL,
	[SUPPLEMENTAL_ADDRESS_TEXT] [varchar](200) NULL,
	[CITY] [varchar](200) NULL,
	[PROVINCE] [varchar](200) NULL,
	[ZIP] [varchar](200) NULL,
	[COUNTY] [varchar](200) NULL,
	[ORGANIZATION_DUNS_NMBR] [varchar](200) NULL,
	[DIVISION_NAME] [varchar](200) NULL,
	[STATE_CODE] [varchar](200) NULL,
	[COUNTRY_CODE] [varchar](200) NULL,
	[TRADE_PARTNER_TYPE_CODE] [varchar](200) NULL,
	[LIMIT_ID] [varchar](200) NULL,
	[TRADE_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_LIMIT_VALUE_bak]    Script Date: 01/19/2012 11:07:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_LIMIT_VALUE_bak](
	[LIMIT_ID] [varchar](200) NULL,
	[LIMIT_TYPE_CODE] [varchar](200) NULL,
	[MONITORING_LOCATION_CODE] [varchar](200) NULL,
	[LIMIT_SEASON_ID] [varchar](200) NULL,
	[LIMIT_BEGIN_DATE] [varchar](200) NULL,
	[LIMIT_END_DATE] [varchar](200) NULL,
	[SAMPLE_TYPE_CODE] [varchar](200) NULL,
	[BURDEN_REDUCTION_FLAG] [varchar](200) NULL,
	[FREQUENCY_OF_ANALYSIS_CODE] [varchar](200) NULL,
	[CHANGE_LIMIT_STATUS_CODE] [varchar](200) NULL,
	[BASIS_OF_LIMIT_CODE] [varchar](200) NULL,
	[STAY_TYPE_CODE] [varchar](200) NULL,
	[STAY_BEGIN_DATE] [varchar](200) NULL,
	[STAY_END_DATE] [varchar](200) NULL,
	[UDF1] [varchar](200) NULL,
	[UDF2] [varchar](200) NULL,
	[UDF3] [varchar](200) NULL,
	[MASTER_LIMIT_SET_ID] [varchar](200) NULL,
	[ENF_CONCLUSION_ID] [varchar](200) NULL,
	[LIMIT_SET_ID] [varchar](200) NULL,
	[STAY_VALUE_CALC_FLAG] [varchar](200) NULL,
	[PARAMETER_CODE] [varchar](200) NULL,
	[CREATION_TYPE_CODE] [varchar](200) NULL,
	[SOURCE_LIMIT_ID] [varchar](200) NULL,
	[STAY_REASON_TEXT] [varchar](200) NULL,
	[MODIFICATION_TYPE_CODE] [varchar](200) NULL,
	[MODIFICATION_EFFECTIVE_DATE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_MAJOR_MINOR_STATUS]    Script Date: 01/19/2012 11:07:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_MAJOR_MINOR_STATUS](
	[MAJOR_MINOR_STATUS_ID] [varchar](200) NULL,
	[MAJOR_MINOR_STATUS_FLAG] [varchar](200) NULL,
	[MAJOR_MINOR_STATUS_BEGIN_DATE] [varchar](200) NULL,
	[MAJOR_MINOR_STATUS_END_DATE] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_OTHER_PERMIT]    Script Date: 01/19/2012 11:07:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_OTHER_PERMIT](
	[ACTIVITY_ID] [varchar](200) NULL,
	[OTHER_EXTERNAL_PERMIT_NMBR] [varchar](200) NULL,
	[ORGANIZATION_NAME] [varchar](200) NULL,
	[IDENTIFIER_CONTEXT_DESC] [varchar](200) NULL,
	[OTHER_PERMIT_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PENALTY]    Script Date: 01/19/2012 11:07:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PENALTY](
	[ENF_CONCLUSION_ID] [varchar](200) NULL,
	[STATUTE_CODE] [varchar](200) NULL,
	[PENALTY_REQUIRED_AMT] [varchar](200) NULL,
	[ICIS_PENALTY_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PERM_COMP_STATUS]    Script Date: 01/19/2012 11:08:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERM_COMP_STATUS](
	[PERM_COMP_STATUS_ID] [varchar](200) NULL,
	[PERMIT_COMP_STATUS_FLAG] [varchar](200) NULL,
	[STATUS_BEGIN_DATE] [varchar](200) NULL,
	[STATUS_END_DATE] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL,
	[STATUS_REASON_TEXT] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_DMR_FORM_VALUE]    Script Date: 01/19/2012 11:04:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_DMR_FORM_VALUE](
	[DMR_FORM_VALUE_ID] [varchar](50) NULL,
	[DMR_FORM_PARAMETER_ID] [varchar](50) NULL,
	[VALUE_TYPE_CODE] [varchar](50) NULL,
	[LIMIT_VALUE_ID] [varchar](50) NULL,
	[CREATED_BY] [varchar](100) NULL,
	[CREATED_DATE] [varchar](100) NULL,
	[UPDATED_BY] [varchar](100) NULL,
	[UPDATED_DATE] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[icis_contact_electronic_addr]    Script Date: 01/19/2012 11:04:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[icis_contact_electronic_addr](
	[CONTACT_ID] [int] NULL,
	[electronic_address_text] [varchar](100) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PERM_EFFLUENT_GUIDE]    Script Date: 01/19/2012 11:08:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERM_EFFLUENT_GUIDE](
	[PERM_EFFLUENT_GUIDE_ID] [varchar](200) NULL,
	[PERM_EFFLUENT_CODE] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PERM_FEATURE]    Script Date: 01/19/2012 11:08:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERM_FEATURE](
	[PERM_FEATURE_ID] [varchar](200) NULL,
	[PERM_FEATURE_TEXT] [varchar](200) NULL,
	[UDF1] [varchar](200) NULL,
	[UDF2] [varchar](200) NULL,
	[MASTER_PERM_FEATURE_ID] [varchar](200) NULL,
	[DESIGN_FLOW_NMBR] [varchar](200) NULL,
	[OWNED_BY_FACILITY_FLAG] [varchar](200) NULL,
	[ACTUAL_AVERAGE_FLOW_NMBR] [varchar](200) NULL,
	[WATER_BODY_NAME] [varchar](200) NULL,
	[REACH_ID] [varchar](200) NULL,
	[PERM_FEATURE_NMBR] [varchar](200) NULL,
	[MASTER_GENERAL_CATEGORY_TEXT] [varchar](200) NULL,
	[PERM_FEATURE_TYPE_CODE] [varchar](200) NULL,
	[STATE_WATER_BODY] [varchar](200) NULL,
	[STATE_WATER_BODY_NAME] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL,
	[CREATION_TYPE_CODE] [varchar](200) NULL,
	[SOURCE_PERM_FEATURE_ID] [varchar](200) NULL,
	[RAD_INTERFACE_FLAG] [varchar](200) NULL,
	[FIELD_SIZE] [varchar](200) NULL,
	[SOURCE_PERM_FEA_DETAILS] [varchar](200) NULL,
	[WELL_NMBR] [varchar](200) NULL,
	[NITRATE_MONITORING_FLAG] [varchar](200) NULL,
	[LEACHATE_COLLECTION_FLAG] [varchar](200) NULL,
	[DAILY_COVER_FLAG] [varchar](200) NULL,
	[DISTANCE_TO_BOUNDARY] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PERM_FEATURE_COORD]    Script Date: 01/19/2012 11:08:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERM_FEATURE_COORD](
	[PERM_FEATURE_COORD_ID] [varchar](200) NULL,
	[LATITUDE_MEASURE] [varchar](200) NULL,
	[LONGITUDE_MEASURE] [varchar](200) NULL,
	[REFERENCE_POINT_CODE] [varchar](200) NULL,
	[PERM_FEATURE_ID] [varchar](200) NULL,
	[GEOMETRIC_TYPE_CODE] [varchar](200) NULL,
	[HORIZONTAL_COLLECT_METHOD_CODE] [varchar](200) NULL,
	[HORIZONTAL_REF_DATUM_CODE] [varchar](200) NULL,
	[HORIZONTAL_ACCURACY_MEASURE] [varchar](200) NULL,
	[SOURCE_MAP_SCALE_NMBR] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PERM_NARRATIVE_CONDITION]    Script Date: 01/19/2012 11:08:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERM_NARRATIVE_CONDITION](
	[PERM_NARRATIVE_CONDITION_ID] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL,
	[NARRATIVE_CONDITION_CODE] [varchar](200) NULL,
	[NARRATIVE_CONDITION_TEXT] [varchar](200) NULL,
	[STAY_BEGIN_DATE] [varchar](200) NULL,
	[NARRATIVE_CONDITION_NMBR] [varchar](200) NULL,
	[STAY_END_DATE] [varchar](200) NULL,
	[MASTER_NARRATIVE_CONDITION_ID] [varchar](200) NULL,
	[STAY_REASON_TEXT] [varchar](200) NULL,
	[NARRATIVE_CONDITION_TYPE_FLAG] [varchar](200) NULL,
	[INHERITED_FLAG] [varchar](200) NULL,
	[STAY_VIOLATION_FLAG] [varchar](200) NULL,
	[CREATION_TYPE_CODE] [varchar](200) NULL,
	[SOURCE_NARRATIVE_CONDITION_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PERM_PRETREATMENT]    Script Date: 01/19/2012 11:08:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERM_PRETREATMENT](
	[ACTIVITY_ID] [varchar](200) NULL,
	[REGION_CODE] [varchar](200) NULL,
	[STATE_CODE] [varchar](200) NULL,
	[PRETREATMENT_INDICATOR_CODE] [varchar](200) NULL,
	[SIGNIFICANT_IU_FLAG] [varchar](200) NULL,
	[RECEIVING_PERMIT_ID] [varchar](200) NULL,
	[CONTROL_AUTH_PERMIT_ID] [varchar](200) NULL,
	[PRETREATMENT_APPROVED_DATE] [varchar](200) NULL,
	[PERM_PRETREATMENT_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PERM_RNC_HISTORY]    Script Date: 01/19/2012 11:08:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERM_RNC_HISTORY](
	[PERM_RNC_HISTORY_ID] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL,
	[QUARTER] [varchar](200) NULL,
	[YEAR] [varchar](200) NULL,
	[PERM_RNC_AUTO_STATUS_CODE] [varchar](200) NULL,
	[PERM_RNC_MAN_STATUS_CODE] [varchar](200) NULL,
	[PERM_RNC_CORR_AUTO_STATUS_CODE] [varchar](200) NULL,
	[PERM_RNC_CORR_MAN_STATUS_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PERM_SCHEDULE_EVENT]    Script Date: 01/19/2012 11:09:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERM_SCHEDULE_EVENT](
	[PERM_SCHEDULE_EVENT_ID] [varchar](200) NULL,
	[SCHEDULE_DATE] [varchar](200) NULL,
	[PROJECTED_DATE] [varchar](200) NULL,
	[ACTUAL_DATE] [varchar](200) NULL,
	[REPORT_RECEIVED_DATE] [varchar](200) NULL,
	[STAY_BEGIN_DATE] [varchar](200) NULL,
	[STAY_END_DATE] [varchar](200) NULL,
	[COMMENT_TEXT] [varchar](4000) NULL,
	[INHERITED_FLAG] [varchar](200) NULL,
	[UDF1] [varchar](200) NULL,
	[UDF2] [varchar](200) NULL,
	[STAY_VIOLATION_FLAG] [varchar](200) NULL,
	[RELATIVE_OFFSET_MONTH] [varchar](200) NULL,
	[VIOLATION_EVALUATION_FLAG] [varchar](200) NULL,
	[STAY_REASON_TEXT] [varchar](200) NULL,
	[CREATION_TYPE_CODE] [varchar](200) NULL,
	[SOURCE_NARR_CONDITION_EVENT_ID] [varchar](200) NULL,
	[PERM_NARRATIVE_CONDITION_ID] [varchar](200) NULL,
	[SCHEDULE_EVENT_CODE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PERM_TMDL]    Script Date: 01/19/2012 11:09:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERM_TMDL](
	[ACTIVITY_ID] [varchar](200) NULL,
	[TMDL_ID] [varchar](200) NULL,
	[PERM_TMDL_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PERM_TRACK_EVENT]    Script Date: 01/19/2012 11:09:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERM_TRACK_EVENT](
	[PERM_TRACK_EVENT_ID] [varchar](200) NULL,
	[PERM_TRACK_EVENT_CODE] [varchar](200) NULL,
	[TRACK_EVENT_DATE] [varchar](200) NULL,
	[TRACK_EVENT_COMMENT_TEXT] [varchar](4000) NULL,
	[ACTIVITY_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ACTIVITY_CONTACT]    Script Date: 01/19/2012 11:11:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ACTIVITY_CONTACT](
	[CONTACT_ID] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL,
	[affiliation_type_code] [varchar](10) NULL,
	[begin_date] [datetime] NULL,
	[end_date] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PERMIT]    Script Date: 01/19/2012 11:09:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PERMIT](
	[ACTIVITY_ID] [varchar](200) NULL,
	[EXTERNAL_PERMIT_NMBR] [varchar](200) NULL,
	[VERSION_NMBR] [varchar](200) NULL,
	[PERMIT_TYPE_CODE] [varchar](200) NULL,
	[ORIGINAL_ISSUE_DATE] [varchar](200) NULL,
	[ISSUE_DATE] [varchar](200) NULL,
	[EFFECTIVE_DATE] [varchar](200) NULL,
	[EXPIRATION_DATE] [varchar](200) NULL,
	[RETIREMENT_DATE] [varchar](200) NULL,
	[TERMINATION_DATE] [varchar](200) NULL,
	[BACKLOG_REASON] [varchar](200) NULL,
	[MAJOR_RATING_NMBR] [varchar](200) NULL,
	[NEW_SOURCE_FLAG] [varchar](200) NULL,
	[TOTAL_DESIGN_FLOW_NMBR] [varchar](200) NULL,
	[ACTUAL_AVERAGE_FLOW_NMBR] [varchar](200) NULL,
	[DMR_NON_RECEIPT_FLAG] [varchar](200) NULL,
	[RNC_TRACKING_FLAG] [varchar](200) NULL,
	[STATE_WATER_BODY] [varchar](200) NULL,
	[STATE_WATER_BODY_NAME] [varchar](200) NULL,
	[APPEAL_FLAG] [varchar](200) NULL,
	[COMPLETE_APP_RECEIVED_DATE] [varchar](200) NULL,
	[ISSUING_AGENCY] [varchar](200) NULL,
	[MODIFICATION_TYPE_CODE] [varchar](200) NULL,
	[UDF1] [varchar](200) NULL,
	[UDF2] [varchar](200) NULL,
	[STAY_REASON_TEXT] [varchar](200) NULL,
	[UDF3] [varchar](200) NULL,
	[PERM_STAY_FLAG] [varchar](200) NULL,
	[PERMIT_NAME] [varchar](200) NULL,
	[COVERAGE_EFFECTIVE_DATE] [varchar](200) NULL,
	[UDF4] [varchar](200) NULL,
	[APP_RECEIVED_DATE] [varchar](200) NULL,
	[UDF5] [varchar](200) NULL,
	[PERMIT_STATUS_CODE] [varchar](200) NULL,
	[IU_SIGNIFICANT_FLAG] [varchar](200) NULL,
	[CONTROL_AUTH_PERMIT_ID] [varchar](200) NULL,
	[RECEIVING_POTW_ID] [varchar](200) NULL,
	[PERM_INDUSTRIAL_CAT_CODE] [varchar](200) NULL,
	[MOD_EFFECTIVE_DATE] [varchar](200) NULL,
	[SOURCE_ACTIVITY_ID] [varchar](200) NULL,
	[LIFECYCLE_STATUS_CODE] [varchar](200) NULL,
	[CREATION_TYPE_CODE] [varchar](200) NULL,
	[FEDERAL_GRANT_FLAG] [varchar](200) NULL,
	[FACILITY_TYPE_INDICATOR] [varchar](200) NULL,
	[GRACE_PERIOD_END_DATE] [varchar](200) NULL,
	[AGENCY_TYPE_CODE] [varchar](200) NULL,
	[REISSUANCE_PRIORITY] [varchar](200) NULL,
	[DMR_COGNIZANT_OFFICIAL] [varchar](200) NULL,
	[DMR_COGNIZANT_OFFCL_TELEPHONE] [varchar](200) NULL,
	[COMMENT_TEXT] [varchar](4000) NULL,
	[MASTER_EXTERNAL_PERMIT_NMBR] [varchar](200) NULL,
	[PERMIT_COMP_STATUS_FLAG] [varchar](200) NULL,
	[MAJOR_MINOR_STATUS_FLAG] [varchar](200) NULL,
	[TMDL_INTERFACE_FLAG] [varchar](200) NULL,
	[EDMR_AUTHORIZATION_FLAG] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[icis_phone]    Script Date: 01/19/2012 11:09:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[icis_phone](
	[PHONE_ID] [int] NOT NULL,
	[phone_type_code] [varchar](10) NULL,
	[telephone_nmbr] [varchar](20) NULL,
	[telephone_extension_nmbr] [varchar](10) NULL,
 CONSTRAINT [PK_icis_phone] PRIMARY KEY CLUSTERED 
(
	[PHONE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PRETREATMENT_LOCAL_LIMIT]    Script Date: 01/19/2012 11:09:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PRETREATMENT_LOCAL_LIMIT](
	[ACTIVITY_ID] [varchar](200) NULL,
	[POLLUTANT_CODE] [varchar](200) NULL,
	[RECEIVED_DATE] [varchar](200) NULL,
	[ICIS_PRETREATMENT_LOCAL_LMT_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_PROG_RPT_PRETREATMENT]    Script Date: 01/19/2012 11:10:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_PROG_RPT_PRETREATMENT](
	[PROG_RPT_PRETREATMENT_ID] [varchar](200) NULL,
	[PERFORMANCE_START_DATE] [varchar](200) NULL,
	[SUO_REFERENCE] [varchar](200) NULL,
	[SUO_DATE] [varchar](200) NULL,
	[ACCEPT_HAZ_FLAG] [varchar](200) NULL,
	[ACCEPT_HAULED_NON_HAZ_FLAG] [varchar](200) NULL,
	[ACCEPT_HAULED_DOMESTIC_FLAG] [varchar](200) NULL,
	[ANNUAL_BUDGET] [varchar](200) NULL,
	[ADEQUATE_RESOURCE_FLAG] [varchar](200) NULL,
	[DEFICIENCY_IDENTIFIED_FLAG] [varchar](200) NULL,
	[DEFICIENCY_CONTROL_MECH_FLAG] [varchar](200) NULL,
	[DEFICIENCY_INTREPRETATION_FLAG] [varchar](200) NULL,
	[DEFICIENCY_DATA_MGNT_FLAG] [varchar](200) NULL,
	[VIOLATION_OF_SCHEDULE_FLAG] [varchar](200) NULL,
	[FORMAL_RESPONSE_FLAG] [varchar](200) NULL,
	[SIU_NMBR] [varchar](200) NULL,
	[SIU_WO_CONTROL_MECH_NMBR] [varchar](200) NULL,
	[SIU_NOT_INSPECTED_NMBR] [varchar](200) NULL,
	[SIU_NOT_SAMPLED_NMBR] [varchar](200) NULL,
	[SIU_SNC_PRE_STD_NMBR] [varchar](200) NULL,
	[SIU_SNC_RPT_REQUIREMENT_NMBR] [varchar](200) NULL,
	[SIU_SIGNIFICANT_VIOLATION_NMBR] [varchar](200) NULL,
	[SIU_VIOLATION_NOTICE_NMBR] [varchar](200) NULL,
	[SIU_ADMIN_ORDER_NMBR] [varchar](200) NULL,
	[SIU_ADMIN_SUIT_NMBR] [varchar](200) NULL,
	[SIU_CRIMINAL_SUIT_NMBR] [varchar](200) NULL,
	[INDUSTRIAL_USER_NMBR] [varchar](200) NULL,
	[CIU_NMBR] [varchar](200) NULL,
	[CIU_IN_SNC_NMBR] [varchar](200) NULL,
	[PASSTHROUGH_FLAG] [varchar](200) NULL,
	[FREQ_INFLUENT_TOXICANT_NMBR] [varchar](200) NULL,
	[FREQ_EFFLUENT_TOXICANT_NMBR] [varchar](200) NULL,
	[FREQ_SLUDGE_TOXICANT_NMBR] [varchar](200) NULL,
	[MOST_RECENT_EVAL_DATE] [varchar](200) NULL,
	[MOST_RECENT_ADOPT_DATE] [varchar](200) NULL,
	[REMOVAL_STATUS_CODE] [varchar](200) NULL,
	[MOST_RECENT_CREDIT_APPROV_DATE] [varchar](200) NULL,
	[SIU_SNC_PRETREATMENT_SCHEDULE] [varchar](200) NULL,
	[SIU_SNC_PUBLISHED_NEWS] [varchar](200) NULL,
	[SIU_SCHEDULE] [varchar](200) NULL,
	[PENALTIES_COLLECTED_AMT] [varchar](200) NULL,
	[IU_PENALTIES_COLLECTED_NMBR] [varchar](200) NULL,
	[PROG_RPT_ID] [varchar](200) NULL,
	[DEFICIENCY_LEGAL_FLAG] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[icis_dmr_report]    Script Date: 01/19/2012 11:04:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[icis_dmr_report](
	[submission_id_int] [int] NOT NULL,
	[transaction_id] [int] NOT NULL,
	[station_id] [int] NOT NULL,
	[monitor_pt_id] [int] NOT NULL,
	[monitor_pt_version] [varchar](20) NOT NULL,
	[permit_no] [varchar](100) NULL,
	[station_no] [varchar](10) NOT NULL,
	[report_designator] [varchar](1) NULL,
	[mp_end_date] [datetime] NULL,
	[rpt_sign_date] [datetime] NULL,
	[PrincipalExecutiveOfficerFirstName] [varchar](50) NULL,
	[PrincipalExecutiveOfficerLastName] [varchar](50) NULL,
	[PrincipalExecutiveOfficerTitle] [varchar](20) NULL,
	[PrincipalExecutiveOfficerTelephone] [varchar](20) NULL,
	[SignatoryFirstName] [varchar](50) NULL,
	[SignatoryLastName] [varchar](50) NULL,
	[certifier_phone] [varchar](80) NULL,
	[comment] [varchar](2000) NULL,
	[no_discharge_site] [char](10) NULL,
	[received_dttm] [datetime] NULL,
	[created_dttm] [datetime] NOT NULL,
	[created_by] [char](25) NOT NULL,
	[updated_dttm] [datetime] NOT NULL,
	[updated_by] [char](25) NOT NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[icis_address_phone]    Script Date: 01/19/2012 11:03:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[icis_address_phone](
	[ADDRESS_ID] [int] NOT NULL,
	[PHONE_ID] [int] NOT NULL,
 CONSTRAINT [PK_icis_address_phone] PRIMARY KEY CLUSTERED 
(
	[ADDRESS_ID] ASC,
	[PHONE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ICIS_REGIONAL_DATA]    Script Date: 01/19/2012 11:10:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_REGIONAL_DATA](
	[ACTIVITY_ID] [varchar](200) NULL,
	[STRING1] [varchar](200) NULL,
	[STRING2] [varchar](200) NULL,
	[STRING3] [varchar](200) NULL,
	[STRING4] [varchar](200) NULL,
	[NUMBER1] [varchar](200) NULL,
	[NUMBER2] [varchar](200) NULL,
	[NUMBER3] [varchar](200) NULL,
	[DATE1] [varchar](200) NULL,
	[DATE2] [varchar](200) NULL,
	[DATE3] [varchar](200) NULL,
	[STRING6] [varchar](200) NULL,
	[STRING5] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[icis_dmr_numeric_results]    Script Date: 01/19/2012 11:04:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[icis_dmr_numeric_results](
	[submission_id_int] [int] NOT NULL,
	[transaction_id] [int] NOT NULL,
	[monitor_pt_id] [int] NOT NULL,
	[monitor_pt_version] [varchar](20) NOT NULL,
	[par_code] [varchar](20) NULL,
	[stage_code] [varchar](10) NULL,
	[LimitSeasonNumber] [int] NULL,
	[sample_type] [varchar](100) NULL,
	[sample_freq] [varchar](100) NULL,
	[excursion] [varchar](10) NULL,
	[conc_unit] [varchar](10) NULL,
	[load_unit] [varchar](10) NULL,
	[load_1_prefix] [char](5) NOT NULL,
	[load_1] [varchar](50) NULL,
	[load_1_nodi] [varchar](5) NULL,
	[load_2_prefix] [char](5) NOT NULL,
	[load_2] [varchar](50) NULL,
	[load_2_nodi] [varchar](5) NULL,
	[conc_1_prefix] [char](5) NOT NULL,
	[conc_1] [varchar](20) NULL,
	[conc_1_nodi] [varchar](5) NULL,
	[conc_2_prefix] [char](5) NOT NULL,
	[conc_2] [varchar](20) NULL,
	[conc_2_nodi] [varchar](5) NULL,
	[conc_3_prefix] [char](5) NOT NULL,
	[conc_3] [varchar](20) NULL,
	[conc_3_nodi] [varchar](5) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ICIS_DMR_FORM]    Script Date: 01/19/2012 11:04:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_DMR_FORM](
	[DMR_FORM_ID] [varchar](200) NULL,
	[DMR_EVENT_ID] [varchar](200) NULL,
	[CREATED_BY] [varchar](30) NULL,
	[CREATED_DATE] [datetime] NULL,
	[UPDATED_BY] [varchar](30) NULL,
	[UPDATED_DATE] [datetime] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[icis_dmr_report_data]    Script Date: 01/19/2012 11:05:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[icis_dmr_report_data](
	[submission_id_int] [int] NOT NULL,
	[transaction_id] [varchar](200) NOT NULL,
	[dmr_data] [varchar](max) NULL,
	[dmr_data_xml] [xml] NULL,
	[CREATED_BY] [varchar](30) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL DEFAULT (getdate())
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[icis_contact_phone]    Script Date: 01/19/2012 11:04:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[icis_contact_phone](
	[CONTACT_ID] [int] NOT NULL,
	[PHONE_ID] [int] NOT NULL,
 CONSTRAINT [PK_icis_contact_phone] PRIMARY KEY CLUSTERED 
(
	[CONTACT_ID] ASC,
	[PHONE_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ICIS_SUB_ACTIVITY]    Script Date: 01/19/2012 11:10:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ICIS_SUB_ACTIVITY](
	[SUB_ACTIVITY_ID] [varchar](200) NULL,
	[SUB_ACTIVITY_TYPE_CODE] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL,
	[ACTUAL_DATE] [varchar](200) NULL,
	[PLANNED_DATE] [varchar](200) NULL,
	[SUB_ACTIVITY_TEXT] [varchar](200) NULL,
	[REVISED_PLANNED_DATE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ACTIVITY_AGENCY_TYPE]    Script Date: 01/19/2012 11:11:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ACTIVITY_AGENCY_TYPE](
	[ACTIVITY_ID] [varchar](200) NULL,
	[AGENCY_TYPE_CODE] [varchar](200) NULL,
	[AGENCY_LEAD_FLAG] [varchar](200) NULL,
	[XREF_ACTIVITY_AGENCY_TYPE_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[his_icis_dmr]    Script Date: 01/19/2012 11:02:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[his_icis_dmr](
	[submission_id_int] [int] NOT NULL,
	[transaction_id] [int] NOT NULL,
	[station_id] [int] NOT NULL,
	[monitor_pt_id] [int] NOT NULL,
	[monitor_pt_version] [varchar](20) NOT NULL,
	[permit_no] [varchar](100) NULL,
	[station_no] [varchar](10) NOT NULL,
	[report_designator] [varchar](1) NULL,
	[mp_end_date] [datetime] NULL,
	[rpt_sign_date] [datetime] NULL,
	[PrincipalExecutiveOfficerFirstName] [varchar](50) NULL,
	[PrincipalExecutiveOfficerLastName] [varchar](50) NULL,
	[PrincipalExecutiveOfficerTitle] [varchar](20) NULL,
	[PrincipalExecutiveOfficerTelephone] [varchar](20) NULL,
	[SignatoryFirstName] [varchar](50) NULL,
	[SignatoryLastName] [varchar](50) NULL,
	[certifier_phone] [varchar](80) NULL,
	[comment] [varchar](2000) NULL,
	[no_discharge_site] [char](10) NULL,
	[received_dttm] [datetime] NULL,
	[par_code] [varchar](20) NULL,
	[stage_code] [varchar](10) NULL,
	[LimitSeasonNumber] [int] NULL,
	[sample_type] [varchar](100) NULL,
	[sample_freq] [varchar](100) NULL,
	[excursion] [varchar](10) NULL,
	[conc_unit] [varchar](10) NULL,
	[load_unit] [varchar](10) NULL,
	[load_1_prefix] [char](5) NOT NULL,
	[load_1] [varchar](50) NULL,
	[load_1_nodi] [varchar](5) NULL,
	[load_2_prefix] [char](5) NOT NULL,
	[load_2] [varchar](50) NULL,
	[load_2_nodi] [varchar](5) NULL,
	[conc_1_prefix] [char](5) NOT NULL,
	[conc_1] [varchar](20) NULL,
	[conc_1_nodi] [varchar](5) NULL,
	[conc_2_prefix] [char](5) NOT NULL,
	[conc_2] [varchar](20) NULL,
	[conc_2_nodi] [varchar](5) NULL,
	[conc_3_prefix] [char](5) NOT NULL,
	[conc_3] [varchar](20) NULL,
	[conc_3_nodi] [varchar](5) NULL,
	[submit_trans_id] [varchar](100) NOT NULL,
	[epa_trans_id] [varchar](100) NULL,
	[CREATED_BY] [varchar](30) NOT NULL,
	[CREATED_DATE] [datetime] NOT NULL DEFAULT (getdate()),
	[UPDATED_BY] [varchar](30) NOT NULL,
	[UPDATED_DATE] [datetime] NOT NULL DEFAULT (getdate()),
	[SUBMIT_STATUS] [char](1) NOT NULL DEFAULT ('S')
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ACTIVITY_FACILITY_INT]    Script Date: 01/19/2012 11:11:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ACTIVITY_FACILITY_INT](
	[ICIS_FACILITY_INTEREST_ID] [varchar](200) NULL,
	[ACTIVITY_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ACTIVITY_LAW_SECTION]    Script Date: 01/19/2012 11:11:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ACTIVITY_LAW_SECTION](
	[ACTIVITY_ID] [varchar](200) NULL,
	[STATUTE_CODE] [varchar](200) NULL,
	[LAW_SECTION_CODE] [varchar](200) NULL,
	[RANK_ORDER] [varchar](200) NULL,
	[XREF_ACTIVITY_LAW_SECTION_ID] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tmp_id_address]    Script Date: 01/19/2012 11:10:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tmp_id_address](
	[id] [bigint] NULL,
	[address_id] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ACTIVITY_PERSON]    Script Date: 01/19/2012 11:11:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ACTIVITY_PERSON](
	[ACTIVITY_ID] [varchar](200) NULL,
	[PERSON_ID] [varchar](200) NULL,
	[AFFILIATION_TYPE_CODE] [varchar](200) NULL,
	[BEGIN_DATE] [varchar](200) NULL,
	[END_DATE] [varchar](200) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[XREF_ACTIVITY_ADDRESS]    Script Date: 01/19/2012 11:11:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[XREF_ACTIVITY_ADDRESS](
	[ACTIVITY_ID] [varchar](255) NOT NULL,
	[ADDRESS_ID] [varchar](255) NOT NULL,
	[BEGIN_DATE] [varchar](255) NULL,
	[END_DATE] [varchar](255) NULL,
	[ASSOCIATION_STATUS_FLAG] [varchar](255) NULL,
	[AFFILIATION_TYPE_CODE] [varchar](255) NULL,
	[CREATED_BY] [varchar](255) NULL,
	[CREATED_DATE] [varchar](255) NULL,
	[UPDATED_BY] [varchar](255) NULL,
	[UPDATED_DATE] [varchar](255) NULL,
 CONSTRAINT [PK_XREF_ACTIVITY_ADDRESS] PRIMARY KEY CLUSTERED 
(
	[ACTIVITY_ID] ASC,
	[ADDRESS_ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO

