<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Node.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Node.Core.Properties.Settings>
            <setting name="Node_Core_NAASAuth_cdxSecurity" serializeAs="String">
                <value>https://naas.epacdxnode.net/xml/auth.wsdl</value>
            </setting>
            <setting name="Node_Core_NAASPolicy_AuthorizationPolicy" serializeAs="String">
                <value>https://cdxnodenaas.epa.gov/xml/policy.wsdl</value>
            </setting>
            <setting name="Node_Core_CDX_NetworkNodePortType_V10" serializeAs="String">
                <value>https://test.epacdxnode.net/cdx/services/NetworkNodePortType_V10.wsdl</value>
            </setting>
            <setting name="Node_Core_CDX_NetworkNode" serializeAs="String">
                <value>https://cdxnode.epa.gov/cdx/services/NetworkNodePortType_V10</value>
            </setting>
            <setting name="Node_Core_NAASUserManager_usermgr" serializeAs="String">
                <value>https://naas.epacdxnode.net/xml/usermgr.wsdl</value>
            </setting>
            <setting name="DataFlowPlugIn" serializeAs="String">
                <value>dll=bin\DataFlow.Engine.dll;class=DataFlow.Engine.ActionProcess</value>
            </setting>
        </Node.Core.Properties.Settings>
    </applicationSettings>
</configuration>