<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
	<display-name>Node.Administration</display-name>
	<filter>
		<filter-name>AuthenticateFilter</filter-name>
		<filter-class>Node2.web.AuthenticateFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>AuthenticateFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>AuthenticateFilter</filter-name>
		<url-pattern>*.do</url-pattern>
	</filter-mapping>
	<listener>
		<listener-class>Node.Web.Administration.ApplicationWatch</listener-class>
	</listener>
	<servlet>
		<servlet-name>action</servlet-name>
		<servlet-class>
			org.apache.struts.action.ActionServlet
		</servlet-class>
		<init-param>
			<param-name>config</param-name>
			<param-value>/WEB-INF/struts-config.xml</param-value>
		</init-param>
		<init-param>
			<param-name>debug</param-name>
			<param-value>2</param-value>
		</init-param>
		<init-param>
			<param-name>application</param-name>
			<param-value>ApplicationResources</param-value>
		</init-param>
		<load-on-startup>2</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>action</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>
	<taglib>
		<taglib-uri>http://www.enfotech.com/eftWC</taglib-uri>
		<taglib-location>/WEB-INF/eftwc.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-html.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
	</taglib>
	<taglib>
		<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
		<taglib-location>/WEB-INF/struts-template.tld</taglib-location>
	</taglib>
	<env-entry>
		<env-entry-name>node/version</env-entry-name>
		<env-entry-value>2.0</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>node/dbType</env-entry-name>
		<env-entry-value>oracle10g</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>node/dbFullString</env-entry-name>
		<env-entry-value>
			(description=(address_list=(address=(host=VN08TUCSON)(protocol=tcp)(port=1521))(address=(host=VN08TUCSON)(protocol=tcp)(port=1521)))(source_route=yes)(connect_data=(sid=TUCSONDB)))
		</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>node/dbJNDIName</env-entry-name>
		<env-entry-value></env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>node/dbUser</env-entry-name>
		<env-entry-value>neadm</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>node/dbPassword</env-entry-name>
		<env-entry-value>neadm</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>aqde/dbType</env-entry-name>
		<env-entry-value>oracle10i</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>aqde/dbServer</env-entry-name>
		<env-entry-value>copenhagen</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>aqde/dbPort</env-entry-name>
		<env-entry-value>1521</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>aqde/dbSID</env-entry-name>
		<env-entry-value>copendb</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>aqde/dbUser</env-entry-name>
		<env-entry-value>AQDE</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>aqde/dbPassword</env-entry-name>
		<env-entry-value>AQDE</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	  <env-entry>
	    <env-entry-name>nei/dbType</env-entry-name>
	    <env-entry-value>oracle9i</env-entry-value>
	    <env-entry-type>java.lang.String</env-entry-type>
	  </env-entry>
	  <env-entry>
	    <env-entry-name>nei/dbServer</env-entry-name>
	    <env-entry-value>192.168.88.203</env-entry-value>
	    <env-entry-type>java.lang.String</env-entry-type>
	  </env-entry>
	  <env-entry>
	    <env-entry-name>nei/dbPort</env-entry-name>
	    <env-entry-value>1521</env-entry-value>
	    <env-entry-type>java.lang.String</env-entry-type>
	  </env-entry>
	  <env-entry>
	    <env-entry-name>nei/dbSID</env-entry-name>
	    <env-entry-value>NJDEP</env-entry-value>
	    <env-entry-type>java.lang.String</env-entry-type>
	  </env-entry>
	  <env-entry>
	    <env-entry-name>nei/dbUser</env-entry-name>
	    <env-entry-value>NEI</env-entry-value>
	    <env-entry-type>java.lang.String</env-entry-type>
	  </env-entry>
	  <env-entry>
	    <env-entry-name>nei/dbPassword</env-entry-name>
	    <env-entry-value>NEI</env-entry-value>
	    <env-entry-type>java.lang.String</env-entry-type>
	  </env-entry>
   <env-entry>
    <env-entry-name>tamis/dbType</env-entry-name>
    <env-entry-value>oracle9i</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>tamis/dbServer</env-entry-name>
    <env-entry-value>houston</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>tamis/dbPort</env-entry-name>
    <env-entry-value>1521</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>tamis/dbSID</env-entry-name>
    <env-entry-value>boise</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>tamis/dbUser</env-entry-name>
    <env-entry-value>AMS_ADM</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>tamis/dbPassword</env-entry-name>
    <env-entry-value>AMS_ADM</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
 	<env-entry>
	    <env-entry-name>nodeedwr/dbFullString</env-entry-name>
	    <env-entry-value>(description=(address_list=(address=(host=kent)(protocol=tcp)(port=1521))(address=(host=kent)(protocol=tcp)(port=1521)))(source_route=yes)(connect_data=(sid=kentdb)))</env-entry-value>
	    <env-entry-type>java.lang.String</env-entry-type>
  	</env-entry>
  	<env-entry>
		<env-entry-name>nodeedwr/dbType</env-entry-name>
		<env-entry-value>oracle10g</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nodeedwr/dbServer</env-entry-name>
		<env-entry-value>kent</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nodeedwr/dbPort</env-entry-name>
		<env-entry-value>1521</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nodeedwr/dbSID</env-entry-name>
		<env-entry-value>kentdb</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nodeedwr/dbUser</env-entry-name>
		<env-entry-value>EXSDWIS</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nodeedwr/dbPassword</env-entry-name>
		<env-entry-value>EXSDWIS</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
  	<env-entry>
		<env-entry-name>http/PROTOCOL_VERSION</env-entry-name>
		<env-entry-value>1.1</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>ValidationErrorTemplate</env-entry-name>
		<env-entry-value>config/template/ValidationErrorTemplate.xml</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>ValidationErrorXSTL</env-entry-name>
		<env-entry-value>config/template/ValidationErrorMessage.xslt</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>adminLog</env-entry-name>
		<env-entry-value>C:\NodeLog</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>tempFilePath</env-entry-name>
		<env-entry-value>C:\NodeTemp</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>sessionTimeOut</env-entry-name>
		<env-entry-value>1200</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>DataFlowPlugIn</env-entry-name>
		<env-entry-value>DataFlow.Engine.ActionProcess</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>node/dotNetHost</env-entry-name>
		<env-entry-value>192.168.88.203</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>node/dotNetHostPort</env-entry-name>
		<env-entry-value></env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>MaxGridRecords</env-entry-name>
		<env-entry-value>3000</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
</web-app>
