<?xml version="1.0" encoding="utf-8" ?>
<Configuration>
  <LoggingSettings>
    <AdminLevel>2</AdminLevel>
    <ClientLevel>2</ClientLevel>
    <TaskLevel>2</TaskLevel>
    <WebServicesLevel>2</WebServicesLevel>
  </LoggingSettings>
  <ProxySettings status="A" host="http://192.168.88.8:28318">
    <Credentials>
      <UserID>longd</UserID>
      <Password>iD8vnw6x1orsODsi9Lzwqw==</Password>
    </Credentials>
  </ProxySettings>
  <NodeSettings name="ENFO" status="A">
    <NodeStatus>
      <Status>Running</Status>
      <Message>The Node is Currently Running</Message>
    </NodeStatus>
    <NodeURL>http://lawrence:8088/Node.WebServices/NodeServices.asmx</NodeURL>
    <TokenLifeTime Enabled="false" time="" />
    <NAAS>
      <URL name="authentication">https://naas.epacdxnode.net/xml/auth.wsdl</URL>
      <URL name="user">https://naas.epacdxnode.net/xml/usermgr.wsdl</URL>
      <URL name="policy">https://naas.epacdxnode.net/xml/policy.wsdl</URL>
    </NAAS>
    <NodeAdministrator>
      <Name>Maggie Hsueh</Name>
      <Credentials>
        <UserID>maggie_hsueh@enfotech.com</UserID>
        <Password>UAxp/rCQAw1RNtxlA70qpw==</Password>
      </Credentials>
    </NodeAdministrator>
  </NodeSettings>
  <ClientSettings>
    <WebServicesURL>http://localhost/Node.WebServices/NodeServices.asmx</WebServicesURL>
    <WebServicesURL>http://localhost:3930/Node.WebServices/NodeServices.asmx</WebServicesURL>
    <WebServicesURL>http://localhost:29878/Node.WebServices/NodeServices.asmx</WebServicesURL>
    <WebServicesURL>http://lawrence:8088/Node.Webservices/NodeServices.asmx</WebServicesURL>
    <WebServicesURL>http://demo.enfotech.net/Node.Webservices/NodeServices.asmx</WebServicesURL>
    <WebServicesURL>http://node.ri.gov/NodeServices.asmx</WebServicesURL>
    <WebServicesURL>https://test.epacdxnode.net/cdx/services/NetworkNodePortType_V10</WebServicesURL>
    <WebServicesURL>https://cdxnode.epa.gov/cdx/services/NetworkNodePortType_V10</WebServicesURL>
    <WebServicesURL>http://lawrence:8088/Node.WebServices/NodeServices.asmx</WebServicesURL>
  </ClientSettings>
  <AutoMail>
    <EmailServer name="NODE" status="A" host="mail.enfotech.com" port="25">
      <From>nodeadmin@enfotech.com</From>
      <Credentials>
        <UserID>deric_long</UserID>
        <Password>iD8vnw6x1orsODsi9Lzwqw==</Password>
      </Credentials>
    </EmailServer>
  </AutoMail>
  <FavoriteLinks>
	<FavoriteLink name="Google" url="http://www.google.com">Google search engine.</FavoriteLink>
	<FavoriteLink name="Yahoo" url="http://www.yahoo.com">Yahoo home page.</FavoriteLink>
  </FavoriteLinks>
  <DefaultSettings>
	  <DefaultRowNumber>200</DefaultRowNumber>
	  <DefaultTopNumber>3</DefaultTopNumber>
	  <DefaultPageSize>6</DefaultPageSize>
  </DefaultSettings>
</Configuration>
