<?xml version="1.0" encoding="utf-8"?>
<Tasks>
  <Task status="A">
    <TaskID>30</TaskID>
    <TaskName>TestTask</TaskName>
    <TaskMode>exe</TaskMode>
    <TaskFullPath>D:\NodeV2\Node.TaskService\Node.TaskHandler\Node.TaskHandler.exe</TaskFullPath>
    <TaskParameter>TestTask</TaskParameter>
    <TaskType />
    <Schedule status="A">
      <StartDateTime>03/13/2006 12:25:00 PM</StartDateTime>
      <EndDateTime>03/13/2006 12:40:00 PM</EndDateTime>
      <DailySchedule status="A">
        <IntervalMinutes status="A">5</IntervalMinutes>
        <IntervalDays status="I" />
      </DailySchedule>
      <WeeklySchedule status="I">
        <IntervalWeeks />
        <DayOfWeek />
      </WeeklySchedule>
      <MonthlySchedule status="I">
        <IntervalDays status="I">
          <DayOfMonth />
        </IntervalDays>
        <IntervalWeeks status="I">
          <WeekOfMonth />
          <DayOfWeek />
        </IntervalWeeks>
        <MonthOfYear />
      </MonthlySchedule>
    </Schedule>
  </Task>
  <Task status="A">
    <TaskID>36</TaskID>
    <TaskName>AL_eDMR</TaskName>
    <TaskMode>exe</TaskMode>
    <TaskFullPath>D:\NodeV2\Node.TaskService\Node.TaskHandler\Node.TaskHandler.exe</TaskFullPath>
    <TaskParameter>"AL_eDMR"</TaskParameter>
    <TaskType />
    <Schedule status="A">
      <StartDateTime>9/6/2007 12:00:00 PM</StartDateTime>
      <EndDateTime>9/6/2007 12:45:00 PM</EndDateTime>
      <DailySchedule status="A">
        <IntervalMinutes status="A">5</IntervalMinutes>
        <IntervalDays status="I" />
      </DailySchedule>
      <WeeklySchedule status="I">
        <IntervalWeeks />
        <DayOfWeek />
      </WeeklySchedule>
      <MonthlySchedule status="I">
        <IntervalDays status="A">
          <DayOfMonth>18</DayOfMonth>
        </IntervalDays>
        <IntervalWeeks status="I">
          <WeekOfMonth />
          <DayOfWeek />
        </IntervalWeeks>
        <MonthOfYear>7</MonthOfYear>
      </MonthlySchedule>
    </Schedule>
  </Task>
  <Task status="I">
    <TaskID>38</TaskID>
    <TaskName>ComplianceDataToCDX</TaskName>
    <TaskMode>exe</TaskMode>
    <TaskFullPath>D:\NodeV2\Node.TaskService\Node.TaskHandler\Node.TaskHandler.exe</TaskFullPath>
    <TaskParameter>"ComplianceDataToCDX"</TaskParameter>
    <TaskType />
    <Schedule status="I">
      <StartDateTime>1/1/0001 12:00:00 AM</StartDateTime>
      <EndDateTime>12/31/9999 11:59:59 PM</EndDateTime>
      <DailySchedule status="A">
        <IntervalMinutes status="A">-1</IntervalMinutes>
        <IntervalDays status="I" />
      </DailySchedule>
      <WeeklySchedule status="I">
        <IntervalWeeks />
        <DayOfWeek />
      </WeeklySchedule>
      <MonthlySchedule status="I">
        <IntervalDays status="A">
          <DayOfMonth>18</DayOfMonth>
        </IntervalDays>
        <IntervalWeeks status="I">
          <WeekOfMonth />
          <DayOfWeek />
        </IntervalWeeks>
        <MonthOfYear>7</MonthOfYear>
      </MonthlySchedule>
    </Schedule>
  </Task>
  <Task status="I">
    <TaskID>42</TaskID>
    <TaskName>SubmitWQXData</TaskName>
    <TaskMode>exe</TaskMode>
    <TaskFullPath>D:\Florence\Node\V2_0\src\Node.TaskService\Node.TaskHandler\Node.TaskHandler.exe</TaskFullPath>
    <TaskParameter>"SubmitWQXData"</TaskParameter>
    <TaskType />
    <Schedule status="I">
      <StartDateTime>1/1/0001 12:00:00 AM</StartDateTime>
      <EndDateTime>12/31/9999 11:59:59 PM</EndDateTime>
      <DailySchedule status="A">
        <IntervalMinutes status="A">-1</IntervalMinutes>
        <IntervalDays status="I" />
      </DailySchedule>
      <WeeklySchedule status="I">
        <IntervalWeeks />
        <DayOfWeek />
      </WeeklySchedule>
      <MonthlySchedule status="I">
        <IntervalDays status="I">
          <DayOfMonth />
        </IntervalDays>
        <IntervalWeeks status="I">
          <WeekOfMonth />
          <DayOfWeek />
        </IntervalWeeks>
        <MonthOfYear />
      </MonthlySchedule>
    </Schedule>
  </Task>
  <Task status="I">
    <TaskID>43</TaskID>
    <TaskName>GetWQXStatusReport</TaskName>
    <TaskMode>exe</TaskMode>
    <TaskFullPath>D:\Florence\Node\V2_0\src\Node.TaskService\Node.TaskHandler\Node.TaskHandler.exe</TaskFullPath>
    <TaskParameter>"GetWQXStatusReport"</TaskParameter>
    <TaskType />
    <Schedule status="I">
      <StartDateTime>1/1/0001 12:00:00 AM</StartDateTime>
      <EndDateTime>12/31/9999 11:59:59 PM</EndDateTime>
      <DailySchedule status="A">
        <IntervalMinutes status="A">-1</IntervalMinutes>
        <IntervalDays status="I" />
      </DailySchedule>
      <WeeklySchedule status="I">
        <IntervalWeeks />
        <DayOfWeek />
      </WeeklySchedule>
      <MonthlySchedule status="I">
        <IntervalDays status="I">
          <DayOfMonth />
        </IntervalDays>
        <IntervalWeeks status="I">
          <WeekOfMonth />
          <DayOfWeek />
        </IntervalWeeks>
        <MonthOfYear />
      </MonthlySchedule>
    </Schedule>
  </Task>
  <Task status="A">
    <TaskID>54</TaskID>
    <TaskName>RCRA Submission</TaskName>
    <TaskMode>exe</TaskMode>
    <TaskFullPath>E:\_Trenton\Node\V2_0\src\Node.TaskService\Node.TaskHandler\Node.TaskHandler.exe</TaskFullPath>
    <TaskParameter>"RCRA Submission"</TaskParameter>
    <TaskType />
    <Schedule status="A">
      <StartDateTime>5/1/2008 12:00:00 PM</StartDateTime>
      <EndDateTime>5/31/2009 11:00:00 PM</EndDateTime>
      <DailySchedule status="A">
        <IntervalMinutes status="A">100</IntervalMinutes>
        <IntervalDays status="I" />
      </DailySchedule>
      <WeeklySchedule status="I">
        <IntervalWeeks />
        <DayOfWeek />
      </WeeklySchedule>
      <MonthlySchedule status="I">
        <IntervalDays status="I">
          <DayOfMonth />
        </IntervalDays>
        <IntervalWeeks status="I">
          <WeekOfMonth />
          <DayOfWeek />
        </IntervalWeeks>
        <MonthOfYear />
      </MonthlySchedule>
    </Schedule>
  </Task>
</Tasks>