<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Node.Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <!--
			Enable Transaction: true/false
			<add key="ORACLE_0N_UNIX" value="" />
		-->
    <add key="ORACLE_0N_UNIX" value=""/>
    <!--
			Log File Full Path with file name.
			<add key="LOG_PATH" value="C:\log\WebServicesLog.txt"/>
		-->
    <add key="LOG_PATH" value="logs\WebServicesLog.txt"/>
    <!--
			Solicit Log File Full Path with file name.
			<add key="SOLICIT_LOG_PATH" value="C:\log\WebServicesLog.txt"/>
		-->
    <add key="SOLICIT_LOG_PATH" value="logs\WebServicesLog.txt"/>
    <!--
			Data Flow Plug-in Mapper file and Template file Full Path WITHOUT file name. 
			The file path should end with "\".
			<add key="FRS" value="C:\dataflow\"/>
		-->
  </appSettings>
  <connectionStrings>
    <!--
      Node.WebServices.Web.Config should contain client's database connection
      =======================================================================
      Connection String for Node Database
      Oracle: <add name="node" connectionString="Data Source=;User ID=;Password=" providerName="System.Data.OracleClient"/>
      MS SQL: <add name="node" connectionString="Server=;Database=;UID=;PWD=" providerName="System.Data.SqlClient"/>
    -->
    <!--<add name="node" connectionString="Data Source=LYON;User ID=ASPNODE;Password=ASPNODE" providerName="System.Data.OracleClient"/>-->
    <!--
    <add name="node" connectionString="Data Source=ATHENDB;User ID=ASPNODE;Password=ASPNODE" providerName="System.Data.OracleClient"/>
    <add name="node" connectionString="Server=portland;Database=node_v2;UID=nodeadmin;PWD=node2003" providerName="System.Data.SqlClient"/>
    <add name="node" connectionString="Server=portland;Database=aspnode_db;UID=nodeadmin;PWD=node2003" providerName="System.Data.SqlClient"/>
    -->
    <!--
      Connection String for Data Flow Database
      Data Flow Plug-In Name Convention: two-letter State USPS Postal Code (all be capital) + Data Flow name (all be capital)
      Oracle: <add name="DCEDWR" connectionString="Data Source=;User ID=;Password=" providerName="System.Data.OracleClient"/>
      MS SQL: <add name="DCEDWR" connectionString="Server=;Database=;UID=;PWD=" providerName="System.Data.SqlClient"/>
    -->
    <add name="node" connectionString="Server=vs08buffalo;Database=node2008;UID=nodeadmin;PWD=nodeadmin" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <applicationSettings>
    <Node.Lib.Properties.Settings>
      <setting name="SourceType" serializeAs="String">
        <value>Database</value>
      </setting>
      <setting name="DataSource" serializeAs="String">
        <value>node</value>
      </setting>
      <setting name="Table" serializeAs="String">
        <value>SYS_CONFIG</value>
      </setting>
      <setting name="KeyValue" serializeAs="String">
        <value/>
      </setting>
      <setting name="KeyColumnName" serializeAs="String">
        <value>CONFIG_NAME</value>
      </setting>
      <setting name="SrcColumnName" serializeAs="String">
        <value>CONFIG_XML</value>
      </setting>
      <setting name="Path" serializeAs="String">
        <value>\App_Data\SystemConfig</value>
      </setting>
      <setting name="LogFileName" serializeAs="String">
        <value>Log.xml</value>
      </setting>
      <setting name="LogTableName" serializeAs="String">
        <value>SYS_LOG_MSG</value>
      </setting>
      <setting name="LogID" serializeAs="String">
        <value>LOG_MSG_ID</value>
      </setting>
      <setting name="LogMessage" serializeAs="String">
        <value>LOG_MESSAGE</value>
      </setting>
      <setting name="LogDetailMessage" serializeAs="String">
        <value>LOG_DETAIL</value>
      </setting>
      <setting name="LogType" serializeAs="String">
        <value>LOG_TYPE</value>
      </setting>
      <setting name="LogDateTime" serializeAs="String">
        <value>LOG_DTTM</value>
      </setting>
      <setting name="LogCategory" serializeAs="String">
        <value>MESSAGE_TYPE</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>Verbose</value>
        <!--Verbose, Information, Warning, Error, Critical-->
      </setting>
      <setting name="LogSaveMode" serializeAs="String">
        <value>database</value>
      </setting>
    </Node.Lib.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name="" helpEnabled="true" automaticFormatSelectionEnabled="true"/>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>
</configuration>