body 
{
        margin: 0px;
        padding: 0px;
        font-family: Verdana,arial,helvetica, Sans-Serif;
        font-size: 12px;
        line-height: 22px;
        color: #000;
        background: #b2c0e1;
        /*background: #b7dee7;
        background: #d9f2f8;*/
}

.TopColumn
{
    border: 1px solid #ffffff; 
    background-color: #0055A6; 
    margin:3px;
}

.PageDesc
{
    border: 0px solid #1241ac;
    background-color: #ffffff;
    margin: 2.5px 5px 5px 5px;
    padding:5px; 
    /*border-radius:10px;*/
}
.LeftColumn
{
    float:left;
    padding: 8px 15px 15px 15px;
    margin: 0px 5px 5px 5px;
    background-color: #fff;
    border: 0px solid #1241ac;
    min-width: 200px;
    width: auto; 
    /*border-radius:10px;*/
}
.CenterColumn
{
    float:left;
    margin: 0px 5px 5px 5px;
    border: 0px solid #000;
    width: auto;
    min-width: 600px;
}

.PageDescHeader
{
    display:block;
    width:97%;
    margin: 10px;
    padding: 5px;
    border: 0px solid #1241ac;
    background-color: #39aed0;
    color: White;
    font-weight: bold;
}
.PageDescDetail
{
    margin: 10px;
    padding: 5px;
    border: 0px solid #1241ac;
}

.ServicesHeader
{
    width: 95%;
    margin: 0px;
    padding: 2px 2px 2px 5px;
    border: 0px solid #1241ac;
    min-height: 20px;
    background-color: #39aed0;
    color: White;
    font-weight:bold;
}

.ServiceDtl
{
    margin: 0px 0px 3px 0px;
    padding: 2px;
    border: 0px solid #1241ac;
    height: auto;
    max-width: 650px;
    background: #fff;
    /*border-radius:10px;*/
}
.DataFlow
{
    margin: 5px 0px 0px 5px;
    font-weight: bold;
}
.DataFlow:hover
{
    cursor:pointer;
}

.Service
{
    margin: 5px 0px 0px 50px;
}

.Service:hover
{
    /*background-color:#fff800;
    background-color:#d9f2f8;*/
    color:#1241ac;
    font-weight:bold;
    cursor:pointer;
}

.HighLightService
{
    border-bottom-color:#1241ac;
    border-bottom-style:solid;
    border-bottom-width:1px;
}

.FieldRow
{
   width:100%;
   margin:5px;
   padding: 2px;
   /*border: 1px solid #1241ac;*/
}

.FieldRowContol
{
   width:98%;
   margin:5px;
   padding: 2px;
   border: 0px solid #1241ac;
   min-height:20px;
   background-color:#39aed0;
}

.FieldRowService
{
   margin:5px;
   width:100%;
   padding: 2px;
}
.FieldRowPara
{
   margin:5px;
   width:100%;
   padding: 2px;
}
.FieldLabel
{
    margin-left: 5px;
    font-weight:bold;
}
.FieldInput
{
    margin-left: 5px;
}
.ParameterInput
{
    width:250px;
}

.ServiceDtlTitle
{
   color:#fff;
   margin-left: 15px; 
}
.RESTFulResul
{
    display: block; 
    width: 590px; 
    height: 120px; 
    padding: 8px; 
    line-height: 130%; 
}
.CtlRemove
{
    float:right; 
    margin-right:5px;
    max-height:16px;
    max-width:16px;    
}

.CtlRemove:hover
{
    cursor:pointer; 
}

.CtlToggle
{
    float:right; 
    margin-right:5px;
    max-height:16px;
    max-width:16px;  
}
.CtlToggle:hover
{
    cursor:pointer; 
}

.ServiceInvoke
{
    margin:5px 0px 0px 0px;
    background-color:#1144aa;
    color:#FFF;
}
.ServiceInvoke:hover
{
    color:#fff800;
    cursor:pointer;   
}

.ctlToggle
{
    margin: 0px 15px 0px 0px;
}


