<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
  <display-name>Node.Administration</display-name>
  <listener>
    <listener-class>Node.Web.Administration.ApplicationWatch</listener-class>
  </listener>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>2</param-value>
    </init-param>
    <init-param>
      <param-name>application</param-name>
      <param-value>ApplicationResources</param-value>
    </init-param>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <taglib>
    <taglib-uri>http://www.enfotech.com/eftWC</taglib-uri>
    <taglib-location>/WEB-INF/eftwc.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-tiles.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-tiles.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-nested.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-bean.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-html.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-logic.tld</taglib-location>
  </taglib>
  <taglib>
    <taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
    <taglib-location>/WEB-INF/struts-template.tld</taglib-location>
  </taglib>
  <env-entry>
    <env-entry-name>node/version</env-entry-name>
    <env-entry-value>2.2</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
 <env-entry>
    <env-entry-name>node/dbFullString</env-entry-name>
    <env-entry-value>(description=(address_list=(address=(host=houston)(protocol=tcp)(port=1521))(address=(host=houston)(protocol=tcp)(port=1521)))(source_route=yes)(connect_data=(sid=boise)))</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>node/dbType</env-entry-name>
    <env-entry-value>oracle9i</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>node/dbServer</env-entry-name>
    <env-entry-value>houston</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>node/dbPort</env-entry-name>
    <env-entry-value>1521</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>node/dbSID</env-entry-name>
    <env-entry-value>boise</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>node/dbUser</env-entry-name>
    <env-entry-value>enode</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>node/dbPassword</env-entry-name>
    <env-entry-value>enode</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>tamis/dbType</env-entry-name>
    <env-entry-value>oracle9i</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>tamis/dbServer</env-entry-name>
    <env-entry-value>athens</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>tamis/dbPort</env-entry-name>
    <env-entry-value>1521</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>tamis/dbSID</env-entry-name>
    <env-entry-value>athendb</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>tamis/dbUser</env-entry-name>
    <env-entry-value>AMS_ADM</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>tamis/dbPassword</env-entry-name>
    <env-entry-value>AMS_ADM</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>node/emailServer</env-entry-name>
    <env-entry-value>e2@enfotech.com</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>node/emailServerPort</env-entry-name>
    <env-entry-value>25</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>node/emailUser</env-entry-name>
    <env-entry-value>e2</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>node/emailPass</env-entry-name>
    <env-entry-value>123</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>ValidationErrorTemplate</env-entry-name>
    <env-entry-value>config/template/ValidationErrorTemplate.xml</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>ValidationErrorXSTL</env-entry-name>
    <env-entry-value>config/template/ValidationErrorMessage.xslt</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>DCMValidationConfig</env-entry-name>
    <env-entry-value>DCM_ValidationConfig_v2.xml</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>DCMSchema</env-entry-name>
    <env-entry-value>config/schema/DCM/DCM_DCM_v1.0.xsd</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
  <env-entry>
    <env-entry-name>adminLog</env-entry-name>
    <env-entry-value>C:\NodeLog</env-entry-value>
    <env-entry-type>java.lang.String</env-entry-type>
  </env-entry>
</web-app>
