<?xml version="1.0" encoding="UTF-8"?>
<MappingScript>
	<DataSource type="System.Data.SqlClient">
		<Value>Data Source=ROME;Initial Catalog=CN_FRS;User ID=CN_FRS;password=CN_FRS</Value>
	</DataSource>
	<MetaData>
		<Namespaces>
			<NameValues>
				<Name>enh</Name>
				<Value>http://www.exchangenetwork.net/schema/v1.0/ExchangeNetworkDocument.xsd</Value>
			</NameValues>
			<NameValues>
				<Name>od</Name>
				<Value>http://www.exchangenetwork.net/schema/od/1</Value>
			</NameValues>
			<NameValues>
				<Name>facid</Name>
				<Value>http://www.epa.gov/xml</Value>
			</NameValues>
			<NameValues>
				<Name>sc</Name>
				<Value>urn:us:net:exchangenetwork:sc:1:0</Value>
			</NameValues>
		</Namespaces>
	</MetaData>
	<Mapping>
		<Element>
			<Name>/enh:Document/enh:Header</Name>
		</Element>
		<SQL>
			SELECT CONVERT(CHAR(10), GETDATE(), 120) + 'T' + CONVERT(CHAR(8), GETDATE(), 108) as GEN_DATE
		</SQL>
		<Map>
			<Element>enh:CreationTime</Element>
			<Value>GEN_DATE</Value>
		</Map>
	</Mapping>
	<Mapping mandatory="false" remove="/enh:Document/enh:Payload[@Operation = 'FacilityAddUpdate']/od:OpenDumpFacilitySiteList/od:OpenDumpFacilitySiteAllDetails">

		<Element>
			<Name>/enh:Document/enh:Payload[@Operation = 'FacilityAddUpdate']/od:OpenDumpFacilitySiteList/od:OpenDumpFacilitySiteAllDetails</Name>
		</Element>
		<SQL keys="STATE_FACILITY_IDENTIFIER,STATE_FACILITY_SYSTEM_ACRONYM_NAME">
      select top 200 * from (select top 201 * from (select distinct top 201 
      A.STATE_FACILITY_IDENTIFIER , A.STATE_FACILITY_SYSTEM_ACRONYM_NAME, A.ORGANIZATION_IDENTIFIER, A.ORGANIZATION_IDENTIFIER_CONTEXT
      , A.SITE_CERTIFIED_OPERATOR_INDICATOR, A.INDIAN_POPULATION_MEASURE, A.NON_INDIAN_POPULATION_MEASURE, A.SOLID_WASTE_SYSTEM_TYPE_NAME
      , A.SITE_STATUS_TEXT, A.SITE_CONDITION_TEXT, A.SITE_CONDITION_DATE, A.FDS_INDENTIFIER, A.TRIBAL_LAND_STATUS_TEXT
      , A.SITE_SURFACE_AREA_MEASUREMENT, A.SITE_SURFACE_VOLUME_MEASUREMENT, A.TRIBAL_NAME, A.TRIBAL_CODE, A.SITE_COMMUNITY_NAME
      , substring(A.SITE_COMMUNITY_CODE,1,10) AS SITE_COMMUNITY_CODE, A.TRIBAL_LAND_NAME AS TRIBAL_LAND_NAME1
      , substring(A.SITE_RESERVATION_CODE,1,4) AS SITE_RESERVATION_CODE, A.IHS_SERVICE_UNIT_NAME, A.IHS_SERVICE_UNIT_CODE
      , A.IHS_DISTRICT_NAME, A.IHS_DISTRICT_CODE, A.IHS_FIELD_OFFICE_NAME, A.IHS_FIELD_OFFICE_CODE, A.EPA_REGION_CODE 	,A.SITE_HEALTH_THREAT_SCORE_VALUE, A.SITE_HEALTH_THREAT_SCORE_TEXT, A.SITE_EPA_THREAT_CONCURRENCE_INDICATOR
      , A.SITE_HEALTH_THREAT_COMMENT_TEXT, A.SITE_RAINFALL_TEXT
      , substring(A.SITE_DRAINAGE_LEACHATE_TEXT,1,65) as SITE_DRAINAGE_LEACHATE_TEXT
      , substring(A.SITE_FLOODING_POTENTIAL_TEXT,1,30) AS SITE_FLOODING_POTENTIAL_TEXT
      , A.SITE_COVER_FREQUENCY_TEXT, A.SITE_BURNING_FREQUENCY_TEXT
      , case when A.SITE_FENCED_INDICATOR = 'No' then 'N' when A.SITE_FENCED_INDICATOR = 'Yes' then 'Y' end as SITE_FENCED_INDICATOR
      , A.SITE_CONTROLLED_ACCESS_TEXT
      , A.SITE_PUBLIC_CONCERN_TEXT, A.SITE_VERTICAL_DISTANCE_TO_AQUIFER, A.SITE_HORIZONTAL_DISTANCE_TO_SURFACE_WATER_TEXT
      , A.SITE_DISTANCE_TO_HOMES_TEXT

      , convert(char(10),	C.LAST_REPORTED_DATE, 120)  AS LAST_REPORT
      , C.SOURCE_OF_DATA, C.FACILITY_REGISTRY_IDENTIFIER
      , C.FACILITY_SITE_NAME, C.FEDERAL_FACILITY_INDICATOR, C.TRIBAL_LAND_INDICATOR, C.TRIBAL_LAND_NAME AS TRIBAL_LAND_NAME2
      , C.CONGRESSIONAL_DISTRICT_NUMBER, C.LEGISLATIVE_DISTRICT_NUMBER, C.LOCATION_ADDRESS_TEXT
      , C.SUPPLEMENTAL_LOCATION_TEXT, C.LOCALITY_NAME, C.COUNTY_STATE_FIPS_CODE, C.COUNTY_NAME
      , C.STATE_USPS_CODE, C.STATE_NAME, C.COUNTRY_NAME, C.LOCATION_ZIP_CODE, C.LOCATION_DESCRIPTION_TEXT
      , C.MAILING_ADDRESS_TEXT, C.SUPPLEMENTAL_ADDRESS_TEXT, C.MAILING_ADDRESS_CITY_NAME
      , C.MAILING_ADDRESS_STATE_USPS_CODE, C.MAILING_ADDRESS_STATE_NAME, C.MAILING_ADDRESS_COUNTRY_NAME
      , C.MAILING_ADDRESS_ZIP_CODE

      FROM OD_OPEN_DUMP_DETAILS A, FRS_ENVIRONMENTAL_INTEREST B, FRS_FACILITY_SITE_DATA C, FRS_GEOGRAPHIC_DETAILS D
      WHERE A.STATE_FACILITY_IDENTIFIER = B.STATE_FACILITY_IDENTIFIER
      AND A.STATE_FACILITY_SYSTEM_ACRONYM_NAME = B.STATE_FACILITY_SYSTEM_ACRONYM_NAME
      AND A.STATE_FACILITY_IDENTIFIER = C.STATE_FACILITY_IDENTIFIER
      AND A.STATE_FACILITY_SYSTEM_ACRONYM_NAME = C.STATE_FACILITY_SYSTEM_ACRONYM_NAME
      AND B.ENVIRONMENTAL_INTEREST_TYPE_TEXT = 'OpenDump'
      AND C.DELETED_INDICATOR &lt;&gt; 'Y'
      AND C.LAST_REPORTED_DATE >= convert(datetime, '@LastReportedDate@', 101)
      AND C.FACILITY_SITE_NAME = '@FacilitySiteName@'
      AND CAST(D.LATITUDE_MEASURE AS NUMERIC(15, 8)) BETWEEN 1.0 AND 2.0
      AND CAST(D.LONGITUDE_MEASURE AS NUMERIC(15, 8)) BETWEEN -95 AND -94
      AND C.COUNTY_NAME = 'COUNTY'
      AND A.SITE_HEALTH_THREAT_SCORE_TEXT = '@HealthThreatScore@' 
      order by STATE_FACILITY_IDENTIFIER asc) tempresult order by STATE_FACILITY_IDENTIFIER desc) finalresult
    </SQL>

		<Conditional>
			<if>
				<Column>FACILITY_REGISTRY_IDENTIFIER</Column>
				<Map>
					<Element>facid:FacilitySite/facid:FacilityRegistryIdentifier</Element>
					<Value>FACILITY_REGISTRY_IDENTIFIER</Value>
				</Map>
				<Drop>facid:FacilitySite/facid:FacilityRegistryIdentifier</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>FACILITY_SITE_NAME</Column>
				<Map>
					<Element>facid:FacilitySite/facid:FacilitySiteName</Element>
					<Value>FACILITY_SITE_NAME</Value>
				</Map>
				<Drop>facid:FacilitySite/facid:FacilitySiteName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>FEDERAL_FACILITY_INDICATOR</Column>
				<Map>
					<Element>facid:FacilitySite/facid:FederalFacilityIndicator</Element>
					<Value>FEDERAL_FACILITY_INDICATOR</Value>
				</Map>
				<Drop>facid:FacilitySite/facid:FederalFacilityIndicator</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>TRIBAL_LAND_INDICATOR</Column>
				<Map>
					<Element>facid:FacilitySite/facid:TribalLandIndicator</Element>
					<Value>TRIBAL_LAND_INDICATOR</Value>
				</Map>
				<Drop>facid:FacilitySite/facid:TribalLandIndicator</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>TRIBAL_LAND_NAME1</Column>
				<Map>
					<Element>facid:FacilitySite/facid:TribalLandName</Element>
					<Value>TRIBAL_LAND_NAME1</Value>
				</Map>
				<Drop>facid:FacilitySite/facid:TribalLandName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>CONGRESSIONAL_DISTRICT_NUMBER</Column>
				<Map>
					<Element>facid:FacilitySite/facid:CongressionalDistrictNumber</Element>
					<Value>CONGRESSIONAL_DISTRICT_NUMBER</Value>
				</Map>
				<Drop>facid:FacilitySite/facid:CongressionalDistrictNumber</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>LEGISLATIVE_DISTRICT_NUMBER</Column>
				<Map>
					<Element>facid:FacilitySite/facid:LegislativeDistrictNumber</Element>
					<Value>LEGISLATIVE_DISTRICT_NUMBER</Value>
				</Map>
				<Drop>facid:FacilitySite/facid:LegislativeDistrictNumber</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>FACILITY_REGISTRY_IDENTIFIER</Column>
				<Column>FACILITY_SITE_NAME</Column>
				<Column>FEDERAL_FACILITY_INDICATOR</Column>
				<Column>TRIBAL_LAND_INDICATOR</Column>
				<Column>TRIBAL_LAND_NAME1</Column>
				<Column>CONGRESSIONAL_DISTRICT_NUMBER</Column>
				<Column>LEGISLATIVE_DISTRICT_NUMBER</Column>
				<Drop>facid:FacilitySite</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>LOCATION_ADDRESS_TEXT</Column>
				<Map>
					<Element>facid:LocationAddress/facid:LocationAddressText</Element>
					<Value>LOCATION_ADDRESS_TEXT</Value>
				</Map>
				<Drop>facid:LocationAddress/facid:LocationAddressText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SUPPLEMENTAL_LOCATION_TEXT</Column>
				<Map>
					<Element>facid:LocationAddress/facid:SupplementalLocationText</Element>
					<Value>SUPPLEMENTAL_LOCATION_TEXT</Value>
				</Map>
				<Drop>facid:LocationAddress/facid:SupplementalLocationText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>LOCALITY_NAME</Column>
				<Map>
					<Element>facid:LocationAddress/facid:LocalityName</Element>
					<Value>LOCALITY_NAME</Value>
				</Map>
				<Drop>facid:LocationAddress/facid:LocalityName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>COUNTY_STATE_FIPS_CODE</Column>
				<Map>
					<Element>facid:LocationAddress/facid:CountyStateFIPSCode</Element>
					<Value>COUNTY_STATE_FIPS_CODE</Value>
				</Map>
				<Drop>facid:LocationAddress/facid:CountyStateFIPSCode</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>COUNTY_NAME</Column>
				<Map>
					<Element>facid:LocationAddress/facid:CountyName</Element>
					<Value>COUNTY_NAME</Value>
				</Map>
				<Drop>facid:LocationAddress/facid:CountyName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>STATE_USPS_CODE</Column>
				<Map>
					<Element>facid:LocationAddress/facid:StateUSPSCode</Element>
					<Value>STATE_USPS_CODE</Value>
				</Map>
				<Drop>facid:LocationAddress/facid:StateUSPSCode</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>STATE_NAME</Column>
				<Map>
					<Element>facid:LocationAddress/facid:StateName</Element>
					<Value>STATE_NAME</Value>
				</Map>
				<Drop>facid:LocationAddress/facid:StateName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>COUNTRY_NAME</Column>
				<Map>
					<Element>facid:LocationAddress/facid:CountryName</Element>
					<Value>COUNTRY_NAME</Value>
				</Map>
				<Drop>facid:LocationAddress/facid:CountryName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>LOCATION_ZIP_CODE</Column>
				<Map>
					<Element>facid:LocationAddress/facid:LocationZIPCode</Element>
					<Value>LOCATION_ZIP_CODE</Value>
				</Map>
				<Drop>facid:LocationAddress/facid:LocationZIPCode</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>LOCATION_DESCRIPTION_TEXT</Column>
				<Map>
					<Element>facid:LocationAddress/facid:LocationDescriptionText</Element>
					<Value>LOCATION_DESCRIPTION_TEXT</Value>
				</Map>
				<Drop>facid:LocationAddress/facid:LocationDescriptionText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>LOCATION_ADDRESS_TEXT</Column>
				<Column>SUPPLEMENTAL_LOCATION_TEXT</Column>
				<Column>LOCALITY_NAME</Column>
				<Column>COUNTY_STATE_FIPS_CODE</Column>
				<Column>COUNTY_NAME</Column>
				<Column>STATE_USPS_CODE</Column>
				<Column>STATE_NAME</Column>
				<Column>COUNTRY_NAME</Column>
				<Column>LOCATION_ZIP_CODE</Column>
				<Column>LOCATION_DESCRIPTION_TEXT</Column>
				<Drop>facid:LocationAddress</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>MAILING_ADDRESS_TEXT</Column>
				<Map>
					<Element>facid:MailingAddress/facid:MailingAddressText</Element>
					<Value>MAILING_ADDRESS_TEXT</Value>
				</Map>
				<Drop>facid:MailingAddress/facid:MailingAddressText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SUPPLEMENTAL_ADDRESS_TEXT</Column>
				<Map>
					<Element>facid:MailingAddress/facid:SupplementalAddressText</Element>
					<Value>SUPPLEMENTAL_ADDRESS_TEXT</Value>
				</Map>
				<Drop>facid:MailingAddress/facid:SupplementalAddressText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>MAILING_ADDRESS_CITY_NAME</Column>
				<Map>
					<Element>facid:MailingAddress/facid:MailingAddressCityName</Element>
					<Value>MAILING_ADDRESS_CITY_NAME</Value>
				</Map>
				<Drop>facid:MailingAddress/facid:MailingAddressCityName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>MAILING_ADDRESS_STATE_USPS_CODE</Column>
				<Map>
					<Element>facid:MailingAddress/facid:MailingAddressStateUSPSCode</Element>
					<Value>MAILING_ADDRESS_STATE_USPS_CODE</Value>
				</Map>
				<Drop>facid:MailingAddress/facid:MailingAddressStateUSPSCode</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>MAILING_ADDRESS_STATE_NAME</Column>
				<Map>
					<Element>facid:MailingAddress/facid:MailingAddressStateName</Element>
					<Value>MAILING_ADDRESS_STATE_NAME</Value>
				</Map>
				<Drop>facid:MailingAddress/facid:MailingAddressStateName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>MAILING_ADDRESS_COUNTRY_NAME</Column>
				<Map>
					<Element>facid:MailingAddress/facid:MailingAddressCountryName</Element>
					<Value>MAILING_ADDRESS_COUNTRY_NAME</Value>
				</Map>
				<Drop>facid:MailingAddress/facid:MailingAddressCountryName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>MAILING_ADDRESS_ZIP_CODE</Column>
				<Map>
					<Element>facid:MailingAddress/facid:MailingAddressZIPCode</Element>
					<Value>MAILING_ADDRESS_ZIP_CODE</Value>
				</Map>
				<Drop>facid:MailingAddress/facid:MailingAddressZIPCode</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>MAILING_ADDRESS_TEXT</Column>
				<Column>SUPPLEMENTAL_ADDRESS_TEXT</Column>
				<Column>MAILING_ADDRESS_CITY_NAME</Column>
				<Column>MAILING_ADDRESS_STATE_USPS_CODE</Column>
				<Column>MAILING_ADDRESS_STATE_NAME</Column>
				<Column>MAILING_ADDRESS_COUNTRY_NAME</Column>
				<Column>MAILING_ADDRESS_ZIP_CODE</Column>
				<Drop>facid:MailingAddress</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SOURCE_OF_DATA</Column>
				<Map>
					<Element>facid:SourceOfData</Element>
					<Value>SOURCE_OF_DATA</Value>
				</Map>
				<Drop>facid:SourceOfData</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>LAST_REPORT</Column>
				<Map>
					<Element>facid:LastReportedDate</Element>
					<Value>LAST_REPORT</Value>
				</Map>
				<Drop>facid:LastReportedDate</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>STATE_FACILITY_SYSTEM_ACRONYM_NAME</Column>
				<Map>
					<Element>facid:StateFacilitySystemAcronymName</Element>
					<Value>STATE_FACILITY_SYSTEM_ACRONYM_NAME</Value>
				</Map>
				<Drop>facid:StateFacilitySystemAcronymName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>STATE_FACILITY_IDENTIFIER</Column>
				<Map>
					<Element>facid:StateFacilityIdentifier</Element>
					<Value>STATE_FACILITY_IDENTIFIER</Value>
				</Map>
				<Drop>facid:StateFacilityIdentifier</Drop>
			</if>
		</Conditional>
		<Mapping mandatory="false" remove="facid:EnvironmentalInterestDetails">
			<Element>
				<Name>facid:EnvironmentalInterestDetails</Name>
			</Element>
			<SQL>
				select distinct STATE_FACILITY_IDENTIFIER, STATE_FACILITY_SYSTEM_ACRONYM_NAME, INFORMATION_SYSTEM_ACRONYM_NAME, INFORMATION_SYSTEM_IDENTIFIER, ENVIRONMENTAL_INTEREST_TYPE_TEXT, convert(char(10), ENVIRONMENTAL_INTEREST_START_DATE, 120) START_DATE, convert(char(10), ENVIRONMENTAL_INTEREST_END_DATE, 120) END_DATE from FRS_ENVIRONMENTAL_INTEREST where STATE_FACILITY_IDENTIFIER = '@STATE_FACILITY_IDENTIFIER@' and STATE_FACILITY_SYSTEM_ACRONYM_NAME = '@STATE_FACILITY_SYSTEM_ACRONYM_NAME@'
			</SQL>
			<Conditional>
				<if>
					<Column>INFORMATION_SYSTEM_ACRONYM_NAME</Column>
					<Map>
						<Element>facid:InformationSystemAcronymName</Element>
						<Value>INFORMATION_SYSTEM_ACRONYM_NAME</Value>
					</Map>
					<Drop>facid:InformationSystemAcronymName</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>INFORMATION_SYSTEM_IDENTIFIER</Column>
					<Map>
						<Element>facid:InformationSystemIdentifier</Element>
						<Value>INFORMATION_SYSTEM_IDENTIFIER</Value>
					</Map>
					<Drop>facid:InformationSystemIdentifier</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>ENVIRONMENTAL_INTEREST_TYPE_TEXT</Column>
					<Map>
						<Element>facid:EnvironmentalInterestTypeText</Element>
						<Value>ENVIRONMENTAL_INTEREST_TYPE_TEXT</Value>
					</Map>
					<Drop>facid:EnvironmentalInterestTypeText</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>START_DATE</Column>
					<Map>
						<Element>facid:EnvironmentalInterestStartDate</Element>
						<Value>START_DATE</Value>
					</Map>
					<Drop>facid:EnvironmentalInterestStartDate</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>END_DATE</Column>
					<Map>
						<Element>facid:EnvironmentalInterestEndDate</Element>
						<Value>END_DATE</Value>
					</Map>
					<Drop>facid:EnvironmentalInterestEndDate</Drop>
				</if>
			</Conditional>
		</Mapping>
		<Mapping mandatory="false" remove="facid:SICCodeDetails">
			<Element>
				<Name>facid:SICCodeDetails</Name>
			</Element>
			<SQL>
				select distinct SIC_CODE, SIC_PRIMARY_INDICATOR from FRS_SIC_CODE_DETAILS where STATE_FACILITY_IDENTIFIER = '@STATE_FACILITY_IDENTIFIER@' and STATE_FACILITY_SYSTEM_ACRONYM_NAME = '@STATE_FACILITY_SYSTEM_ACRONYM_NAME@'
			</SQL>
			<Conditional>
				<if>
					<Column>SIC_CODE</Column>
					<Map>
						<Element>facid:SICCode</Element>
						<Value>SIC_CODE</Value>
					</Map>
					<Drop>facid:SICCode</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>SIC_PRIMARY_INDICATOR</Column>
					<Map>
						<Element>facid:SICPrimaryIndicator</Element>
						<Value>SIC_PRIMARY_INDICATOR</Value>
					</Map>
					<Drop>facid:SICPrimaryIndicator</Drop>
				</if>
			</Conditional>
		</Mapping>
		<Mapping mandatory="false" remove="facid:NAICSCodeDetails">
			<Element>
				<Name>facid:NAICSCodeDetails</Name>
			</Element>
			<SQL>
				select distinct NAICS_CODE, NAICS_PRIMARY_INDICATOR from FRS_NAICS_CODE_DETAILS where STATE_FACILITY_IDENTIFIER = '@STATE_FACILITY_IDENTIFIER@' and STATE_FACILITY_SYSTEM_ACRONYM_NAME = '@STATE_FACILITY_SYSTEM_ACRONYM_NAME@'
			</SQL>
			<Conditional>
				<if>
					<Column>NAICS_CODE</Column>
					<Map>
						<Element>facid:NAICSCode</Element>
						<Value>NAICS_CODE</Value>
					</Map>
					<Drop>facid:NAICSCode</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>NAICS_PRIMARY_INDICATOR</Column>
					<Map>
						<Element>facid:NAICSPrimaryIndicator</Element>
						<Value>NAICS_PRIMARY_INDICATOR</Value>
					</Map>
					<Drop>facid:NAICSPrimaryIndicator</Drop>
				</if>
			</Conditional>
		</Mapping>
		<Mapping mandatory="false" remove="facid:IndividualDetails">
			<Element>
				<Name>facid:IndividualDetails</Name>
			</Element>
			<SQL>
				select distinct AFFILIATION_TYPE_TEXT, convert(char(10), AFFILIATION_START_DATE, 120) AFF_START_DATE, convert(char(10), AFFILIATION_END_DATE, 120) AFF_END_DATE, EMAIL_ADDRESS_TEXT, TELEPHONE_NUMBER, PHONE_EXTENSION, FAX_NUMBER, ALTERNATE_TELEPHONE_NUMBER, INDIVIDUAL_FULL_NAME, INDIVIDUAL_TITLE_TEXT from FRS_INDIVIDUAL_DETAILS where STATE_FACILITY_IDENTIFIER = '@STATE_FACILITY_IDENTIFIER@' and STATE_FACILITY_SYSTEM_ACRONYM_NAME = '@STATE_FACILITY_SYSTEM_ACRONYM_NAME@'
			</SQL>
			<Conditional>
				<if>
					<Column>AFFILIATION_TYPE_TEXT</Column>
					<Map>
						<Element>facid:Affiliation/facid:AffiliationTypeText</Element>
						<Value>AFFILIATION_TYPE_TEXT</Value>
					</Map>
					<Drop>facid:Affiliation/facid:AffiliationTypeText</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>AFF_START_DATE</Column>
					<Map>
						<Element>facid:Affiliation/facid:AffiliationStartDate</Element>
						<Value>AFF_START_DATE</Value>
					</Map>
					<Drop>facid:Affiliation/facid:AffiliationStartDate</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>AFF_END_DATE</Column>
					<Map>
						<Element>facid:Affiliation/facid:AffiliationEndDate</Element>
						<Value>AFF_END_DATE</Value>
					</Map>
					<Drop>facid:Affiliation/facid:AffiliationEndDate</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>AFFILIATION_TYPE_TEXT</Column>
					<Column>AFF_START_DATE</Column>
					<Column>AFF_END_DATE</Column>
					<Drop>facid:Affiliation</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>EMAIL_ADDRESS_TEXT</Column>
					<Map>
						<Element>facid:PhoneFaxEmail/facid:EmailAddressText</Element>
						<Value>EMAIL_ADDRESS_TEXT</Value>
					</Map>
					<Drop>facid:PhoneFaxEmail/facid:EmailAddressText</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>TELEPHONE_NUMBER</Column>
					<Map>
						<Element>facid:PhoneFaxEmail/facid:TelephoneNumber</Element>
						<Value>TELEPHONE_NUMBER</Value>
					</Map>
					<Drop>facid:PhoneFaxEmail/facid:TelephoneNumber</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>PHONE_EXTENSION</Column>
					<Map>
						<Element>facid:PhoneFaxEmail/facid:PhoneExtension</Element>
						<Value>PHONE_EXTENSION</Value>
					</Map>
					<Drop>facid:PhoneFaxEmail/facid:PhoneExtension</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>FAX_NUMBER</Column>
					<Map>
						<Element>facid:PhoneFaxEmail/facid:FaxNumber</Element>
						<Value>FAX_NUMBER</Value>
					</Map>
					<Drop>facid:PhoneFaxEmail/facid:FaxNumber</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>ALTERNATE_TELEPHONE_NUMBER</Column>
					<Map>
						<Element>facid:PhoneFaxEmail/facid:AlternateTelephoneNumber</Element>
						<Value>ALTERNATE_TELEPHONE_NUMBER</Value>
					</Map>
					<Drop>facid:PhoneFaxEmail/facid:AlternateTelephoneNumber</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>EMAIL_ADDRESS_TEXT</Column>
					<Column>TELEPHONE_NUMBER</Column>
					<Column>PHONE_EXTENSION</Column>
					<Column>FAX_NUMBER</Column>
					<Column>ALTERNATE_TELEPHONE_NUMBER</Column>
					<Drop>facid:PhoneFaxEmail</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>INDIVIDUAL_FULL_NAME</Column>
					<Map>
						<Element>facid:Individual/facid:IndividualFullName</Element>
						<Value>INDIVIDUAL_FULL_NAME</Value>
					</Map>
					<Drop>facid:Individual/facid:IndividualFullName</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>INDIVIDUAL_TITLE_TEXT</Column>
					<Map>
						<Element>facid:Individual/facid:IndividualTitleText</Element>
						<Value>INDIVIDUAL_TITLE_TEXT</Value>
					</Map>
					<Drop>facid:Individual/facid:IndividualTitleText</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>INDIVIDUAL_FULL_NAME</Column>
					<Column>INDIVIDUAL_TITLE_TEXT</Column>
					<Drop>facid:Individual</Drop>
				</if>
			</Conditional>
		</Mapping>
		<Mapping mandatory="false" remove="facid:OrganizationDetails">
			<Element>
				<Name>facid:OrganizationDetails</Name>
			</Element>
			<SQL>
				select distinct AFFILIATION_TYPE_TEXT, convert(char(10), AFFILIATION_START_DATE, 120) AFF_START_DATE, convert(char(10), AFFILIATION_END_DATE, 120) AFF_END_DATE, EMAIL_ADDRESS_TEXT, TELEPHONE_NUMBER, PHONE_EXTENSION, FAX_NUMBER, ALTERNATE_TELEPHONE_NUMBER, ORGANIZATION_FORMAL_NAME, ORGANIZATION_DUNS_NUMBER, ORGANIZATION_TYPE_TEXT, EMPLOYER_IDENTIFIER, STATE_BUSINESS_IDENTIFIER, ULTIMATE_PARENT_NAME, ULTIMATE_PARENT_DUNS_NUMBER from FRS_ORGANIZATION_DETAILS where STATE_FACILITY_IDENTIFIER = '@STATE_FACILITY_IDENTIFIER@' and STATE_FACILITY_SYSTEM_ACRONYM_NAME = '@STATE_FACILITY_SYSTEM_ACRONYM_NAME@'
			</SQL>
			<Conditional>
				<if>
					<Column>AFFILIATION_TYPE_TEXT</Column>
					<Map>
						<Element>facid:Affiliation/facid:AffiliationTypeText</Element>
						<Value>AFFILIATION_TYPE_TEXT</Value>
					</Map>
					<Drop>facid:Affiliation/facid:AffiliationTypeText</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>AFF_START_DATE</Column>
					<Map>
						<Element>facid:Affiliation/facid:AffiliationStartDate</Element>
						<Value>AFF_START_DATE</Value>
					</Map>
					<Drop>facid:Affiliation/facid:AffiliationStartDate</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>AFF_END_DATE</Column>
					<Map>
						<Element>facid:Affiliation/facid:AffiliationEndDate</Element>
						<Value>AFF_END_DATE</Value>
					</Map>
					<Drop>facid:Affiliation/facid:AffiliationEndDate</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>AFFILIATION_TYPE_TEXT</Column>
					<Column>AFF_START_DATE</Column>
					<Column>AFF_END_DATE</Column>
					<Drop>facid:Affiliation</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>EMAIL_ADDRESS_TEXT</Column>
					<Map>
						<Element>facid:PhoneFaxEmail/facid:EmailAddressText</Element>
						<Value>EMAIL_ADDRESS_TEXT</Value>
					</Map>
					<Drop>facid:PhoneFaxEmail/facid:EmailAddressText</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>TELEPHONE_NUMBER</Column>
					<Map>
						<Element>facid:PhoneFaxEmail/facid:TelephoneNumber</Element>
						<Value>TELEPHONE_NUMBER</Value>
					</Map>
					<Drop>facid:PhoneFaxEmail/facid:TelephoneNumber</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>PHONE_EXTENSION</Column>
					<Map>
						<Element>facid:PhoneFaxEmail/facid:PhoneExtension</Element>
						<Value>PHONE_EXTENSION</Value>
					</Map>
					<Drop>facid:PhoneFaxEmail/facid:PhoneExtension</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>FAX_NUMBER</Column>
					<Map>
						<Element>facid:PhoneFaxEmail/facid:FaxNumber</Element>
						<Value>FAX_NUMBER</Value>
					</Map>
					<Drop>facid:PhoneFaxEmail/facid:FaxNumber</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>ALTERNATE_TELEPHONE_NUMBER</Column>
					<Map>
						<Element>facid:PhoneFaxEmail/facid:AlternateTelephoneNumber</Element>
						<Value>ALTERNATE_TELEPHONE_NUMBER</Value>
					</Map>
					<Drop>facid:PhoneFaxEmail/facid:AlternateTelephoneNumber</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>ORGANIZATION_FORMAL_NAME</Column>
					<Map>
						<Element>facid:Organization/facid:OrganizationFormalName</Element>
						<Value>ORGANIZATION_FORMAL_NAME</Value>
					</Map>
					<Drop>facid:Organization/facid:OrganizationFormalName</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>ORGANIZATION_DUNS_NUMBER</Column>
					<Map>
						<Element>facid:Organization/facid:OrganizationDUNSNumber</Element>
						<Value>ORGANIZATION_DUNS_NUMBER</Value>
					</Map>
					<Drop>facid:Organization/facid:OrganizationDUNSNumber</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>ORGANIZATION_TYPE_TEXT</Column>
					<Map>
						<Element>facid:Organization/facid:OrganizationTypeText</Element>
						<Value>ORGANIZATION_TYPE_TEXT</Value>
					</Map>
					<Drop>facid:Organization/facid:OrganizationTypeText</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>EMPLOYER_IDENTIFIER</Column>
					<Map>
						<Element>facid:Organization/facid:EmployerIdentifier</Element>
						<Value>EMPLOYER_IDENTIFIER</Value>
					</Map>
					<Drop>facid:Organization/facid:EmployerIdentifier</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>STATE_BUSINESS_IDENTIFIER</Column>
					<Map>
						<Element>facid:Organization/facid:StateBusinessIdentifier</Element>
						<Value>STATE_BUSINESS_IDENTIFIER</Value>
					</Map>
					<Drop>facid:Organization/facid:StateBusinessIdentifier</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>ULTIMATE_PARENT_NAME</Column>
					<Map>
						<Element>facid:Organization/facid:UltimateParentName</Element>
						<Value>ULTIMATE_PARENT_NAME</Value>
					</Map>
					<Drop>facid:Organization/facid:UltimateParentName</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>ULTIMATE_PARENT_DUNS_NUMBER</Column>
					<Map>
						<Element>facid:Organization/facid:UltimateParentDUNSNumber</Element>
						<Value>ULTIMATE_PARENT_DUNS_NUMBER</Value>
					</Map>
					<Drop>facid:Organization/facid:UltimateParentDUNSNumber</Drop>
				</if>
			</Conditional>
		</Mapping>
		<Mapping mandatory="false" remove="facid:GeographicCoordinates">

			<Element>
				<Name>facid:GeographicCoordinates</Name>
			</Element>
			<SQL>
				select distinct LATITUDE_MEASURE, substring(LATITUDE_MEASURE,1,9) LAT, LONGITUDE_MEASURE, substring(LONGITUDE_MEASURE,1,9) LONG, HORIZONTAL_ACCURACY_MEASURE, upper(HORIZONTAL_COLLECTION_METHOD_TEXT) HORIZONTAL_COLLECTION_METHOD_TEXT, Upper(HORIZONTAL_REFERENCE_DATUM_NAME) HORIZONTAL_REFERENCE_DATUM_NAME, convert(char(10), DATA_COLLECTION_DATE, 120) DATA_COLLECTION_DATE, upper(GEOMETRIC_TYPE_NAME) GEOMETRIC_TYPE_NAME, COORDINATE_DATA_SOURCE_NAME, upper(SUB_ENTITY_TYPE_NAME) SUB_ENTITY_TYPE_NAME from FRS_GEOGRAPHIC_DETAILS where STATE_FACILITY_IDENTIFIER = '@STATE_FACILITY_IDENTIFIER@' and STATE_FACILITY_SYSTEM_ACRONYM_NAME = '@STATE_FACILITY_SYSTEM_ACRONYM_NAME@'
			</SQL>
			<Conditional>
				<if>
					<Column>LAT</Column>
					<Map>
						<Element>facid:LatitudeMeasure</Element>
						<Value>LAT</Value>
					</Map>
					<Drop>facid:LatitudeMeasure</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>LONG</Column>
					<Map>
						<Element>facid:LongitudeMeasure</Element>
						<Value>LONG</Value>
					</Map>
					<Drop>facid:LongitudeMeasure</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>HORIZONTAL_ACCURACY_MEASURE</Column>
					<Map>
						<Element>facid:HorizontalAccuracyMeasure</Element>
						<Value>HORIZONTAL_ACCURACY_MEASURE</Value>
					</Map>
					<Drop>facid:HorizontalAccuracyMeasure</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>HORIZONTAL_COLLECTION_METHOD_TEXT</Column>
					<Map>
						<Element>facid:HorizontalCollectionMethodText</Element>
						<Value>HORIZONTAL_COLLECTION_METHOD_TEXT</Value>
					</Map>
					<Drop>facid:HorizontalCollectionMethodText</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>HORIZONTAL_REFERENCE_DATUM_NAME</Column>
					<Map>
						<Element>facid:HorizontalReferenceDatumName</Element>
						<Value>HORIZONTAL_REFERENCE_DATUM_NAME</Value>
					</Map>
					<Drop>facid:HorizontalReferenceDatumName</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>DATA_COLLECTION_DATE</Column>
					<Map>
						<Element>facid:DataCollectionDate</Element>
						<Value>DATA_COLLECTION_DATE</Value>
					</Map>
					<Drop>facid:DataCollectionDate</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>GEOMETRIC_TYPE_NAME</Column>
					<Map>
						<Element>facid:GeometricTypeName</Element>
						<Value>GEOMETRIC_TYPE_NAME</Value>
					</Map>
					<Drop>facid:GeometricTypeName</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>COORDINATE_DATA_SOURCE_NAME</Column>
					<Map>
						<Element>facid:DataSourceName</Element>
						<Value>COORDINATE_DATA_SOURCE_NAME</Value>
					</Map>
					<Drop>facid:DataSourceName</Drop>
				</if>
			</Conditional>
			<Conditional>
				<if>
					<Column>SUB_ENTITY_TYPE_NAME</Column>
					<Map>
						<Element>facid:SubEntityTypeName</Element>
						<Value>SUB_ENTITY_TYPE_NAME</Value>
					</Map>
					<Drop>facid:SubEntityTypeName</Drop>
				</if>
			</Conditional>
		</Mapping>
		<Conditional>
			<if>
				<Column>ORGANIZATION_IDENTIFIER</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:SiteInformationDetails/sc:OrganizationIdentifier</Element>
					<Value>ORGANIZATION_IDENTIFIER</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:SiteInformationDetails/sc:OrganizationIdentifier</Drop>
			</if>
		</Conditional>
		<!--Conditional>
			<if>
				<Column>ORGANIZATION_IDENTIFIER_CONTEXT</Column>
				<Map>
					<Element>od:SiteInformationDetails/sc:OrganizationIdentifierContext</Element>
					<Value>ORGANIZATION_IDENTIFIER_CONTEXT</Value>
				</Map>
				<Drop>sc:SiteInformationDetails/sc:OrganizationIdentifierContext</Drop>
			</if>
		</Conditional-->
		<Conditional>
			<if>
				<Column>SITE_CERTIFIED_OPERATOR_INDICATOR</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:SiteInformationDetails/od:SiteCertifiedOperatorIndicator</Element>
					<Value>SITE_CERTIFIED_OPERATOR_INDICATOR</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:SiteInformationDetails/od:SiteCertifiedOperatorIndicator</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>INDIAN_POPULATION_MEASURE</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:SiteInformationDetails/od:IndianPopulationMeasure</Element>
					<Value>INDIAN_POPULATION_MEASURE</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:SiteInformationDetails/od:IndianPopulationMeasure</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>NON_INDIAN_POPULATION_MEASURE</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:SiteInformationDetails/od:NonIndianPopulationMeasure</Element>
					<Value>NON_INDIAN_POPULATION_MEASURE</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:SiteInformationDetails/od:NonIndianPopulationMeasure</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SOLID_WASTE_SYSTEM_TYPE_NAME</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:SiteInformationDetails/od:SolidWasteSystemTypeName</Element>
					<Value>SOLID_WASTE_SYSTEM_TYPE_NAME</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:SiteInformationDetails/od:SolidWasteSystemTypeName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_STATUS_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:SiteInformationDetails/od:SiteStatusText</Element>
					<Value>SITE_STATUS_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:SiteInformationDetails/od:SiteStatusText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_CONDITION_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:SiteInformationDetails/od:SiteConditionText</Element>
					<Value>SITE_CONDITION_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:SiteInformationDetails/od:SiteConditionText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_CONDITION_DATE</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:SiteInformationDetails/od:SiteConditionDate</Element>
					<Value>SITE_CONDITION_DATE</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:SiteInformationDetails/od:SiteConditionDate</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>FDS_INDENTIFIER</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:SiteInformationDetails/od:FDSIdentifier</Element>
					<Value>FDS_INDENTIFIER</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:SiteInformationDetails/od:FDSIdentifier</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>TRIBAL_LAND_STATUS_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:SiteInformationDetails/od:TribalLandStatusText</Element>
					<Value>TRIBAL_LAND_STATUS_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:SiteInformationDetails/od:TribalLandStatusText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_SURFACE_AREA_MEASUREMENT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:SiteInformationDetails/od:SiteSurfaceAreaMeasure</Element>
					<Value>SITE_SURFACE_AREA_MEASUREMENT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:SiteInformationDetails/od:SiteSurfaceAreaMeasure</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_SURFACE_VOLUME_MEASUREMENT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:SiteInformationDetails/od:SiteSurfaceVolumeMeasure</Element>
					<Value>SITE_SURFACE_VOLUME_MEASUREMENT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:SiteInformationDetails/od:SiteSurfaceVolumeMeasure</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>ORGANIZATION_IDENTIFIER</Column>
				<Column>ORGANIZATION_IDENTIFIER_CONTEXT</Column>
				<Column>SITE_CERTIFIED_OPERATOR_INDICATOR</Column>
				<Column>INDIAN_POPULATION_MEASURE</Column>
				<Column>NON_INDIAN_POPULATION_MEASURE</Column>
				<Column>SOLID_WASTE_SYSTEM_TYPE_NAME</Column>
				<Column>SITE_STATUS_TEXT</Column>
				<Column>SITE_CONDITION_TEXT</Column>
				<Column>SITE_CONDITION_DATE</Column>
				<Column>FDS_INDENTIFIER</Column>
				<Column>TRIBAL_LAND_STATUS_TEXT</Column>
				<Column>SITE_SURFACE_AREA_MEASUREMENT</Column>
				<Column>SITE_SURFACE_VOLUME_MEASUREMENT</Column>
				<Drop>od:OpenDumpDetails/od:SiteInformationDetails</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>TRIBAL_NAME</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:LocationDetails/sc:TribalName</Element>
					<Value>TRIBAL_NAME</Value>
				</Map>
				<!--Drop>od:OpenDumpDetails/od:LocationDetails/sc:TribalName</Drop-->
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>TRIBAL_CODE</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:LocationDetails/sc:TribalCode</Element>
					<Value>TRIBAL_CODE</Value>
				</Map>
				<!--Drop>od:OpenDumpDetails/od:LocationDetails/sc:TribalCode</Drop-->
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_COMMUNITY_NAME</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:LocationDetails/od:SiteCommunityName</Element>
					<Value>SITE_COMMUNITY_NAME</Value>
				</Map>
				<!--Drop>od:OpenDumpDetails/od:LocationDetails/od:SiteCommunityName</Drop-->
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_COMMUNITY_CODE</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:LocationDetails/od:SiteCommunityCode</Element>
					<Value>SITE_COMMUNITY_CODE</Value>
				</Map>
				<!--Drop>od:OpenDumpDetails/od:LocationDetails/od:SiteCommunityCode</Drop-->
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>TRIBAL_LAND_NAME2</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:LocationDetails/sc:TribalLandName</Element>
					<Value>TRIBAL_LAND_NAME2</Value>
				</Map>
				<!--Drop>od:OpenDumpDetails/od:LocationDetails/sc:TribalLandName</Drop-->
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_RESERVATION_CODE</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:LocationDetails/od:SiteReservationCode</Element>
					<Value>SITE_RESERVATION_CODE</Value>
				</Map>
				<!--Drop>od:OpenDumpDetails/od:LocationDetails/od:SiteReservationCode</Drop-->
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>IHS_SERVICE_UNIT_NAME</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:LocationDetails/od:IHSServiceUnitName</Element>
					<Value>IHS_SERVICE_UNIT_NAME</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:LocationDetails/od:IHSServiceUnitName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>IHS_SERVICE_UNIT_CODE</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:LocationDetails/od:IHSServiceUnitCode</Element>
					<Value>IHS_SERVICE_UNIT_CODE</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:LocationDetails/od:IHSServiceUnitCode</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>IHS_DISTRICT_NAME</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:LocationDetails/od:IHSDistrictName</Element>
					<Value>IHS_DISTRICT_NAME</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:LocationDetails/od:IHSDistrictName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>IHS_DISTRICT_CODE</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:LocationDetails/od:IHSDistrictCode</Element>
					<Value>IHS_DISTRICT_CODE</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:LocationDetails/od:IHSDistrictCode</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>IHS_FIELD_OFFICE_NAME</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:LocationDetails/od:IHSFieldOfficeName</Element>
					<Value>IHS_FIELD_OFFICE_NAME</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:LocationDetails/od:IHSFieldOfficeName</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>IHS_FIELD_OFFICE_CODE</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:LocationDetails/od:IHSFieldOfficeCode</Element>
					<Value>IHS_FIELD_OFFICE_CODE</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:LocationDetails/od:IHSFieldOfficeCode</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>EPA_REGION_CODE</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:LocationDetails/od:EPARegionCode</Element>
					<Value>EPA_REGION_CODE</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:LocationDetails/od:EPARegionCode</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>TRIBAL_NAME</Column>
				<Column>TRIBAL_CODE</Column>
				<Column>SITE_COMMUNITY_NAME</Column>
				<Column>SITE_COMMUNITY_CODE</Column>
				<Column>TRIBAL_LAND_NAME2</Column>
				<Column>SITE_RESERVATION_CODE</Column>
				<Column>IHS_SERVICE_UNIT_NAME</Column>
				<Column>IHS_SERVICE_UNIT_CODE</Column>
				<Column>IHS_DISTRICT_NAME</Column>
				<Column>IHS_DISTRICT_CODE</Column>
				<Column>IHS_FIELD_OFFICE_NAME</Column>
				<Column>IHS_FIELD_OFFICE_CODE</Column>
				<Column>EPA_REGION_CODE</Column>
				<Drop>od:OpenDumpDetails/od:LocationDetails</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_HEALTH_THREAT_SCORE_VALUE</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HealthThreatDetails/od:SiteHealthThreatScoreValue</Element>
					<Value>SITE_HEALTH_THREAT_SCORE_VALUE</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HealthThreatDetails/od:SiteHealthThreatScoreValue</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_HEALTH_THREAT_SCORE_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HealthThreatDetails/od:SiteHealthThreatScoreText</Element>
					<Value>SITE_HEALTH_THREAT_SCORE_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HealthThreatDetails/od:SiteHealthThreatScoreText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_EPA_THREAT_CONCURRENCE_INDICATOR</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HealthThreatDetails/od:SiteEPAThreatConcurrenceIndicator</Element>
					<Value>SITE_EPA_THREAT_CONCURRENCE_INDICATOR</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HealthThreatDetails/od:SiteEPAThreatConcurrenceIndicator</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_HEALTH_THREAT_COMMENT_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HealthThreatDetails/od:SiteHealthThreatCommentText</Element>
					<Value>SITE_HEALTH_THREAT_COMMENT_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HealthThreatDetails/od:SiteHealthThreatCommentText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_HEALTH_THREAT_SCORE_VALUE</Column>
				<Column>SITE_HEALTH_THREAT_SCORE_TEXT</Column>
				<Column>SITE_EPA_THREAT_CONCURRENCE_INDICATOR</Column>
				<Column>SITE_HEALTH_THREAT_COMMENT_TEXT</Column>
				<Drop>od:OpenDumpDetails/od:HealthThreatDetails</Drop>
			</if>
		</Conditional>

		<Mapping mandatory="false" remove="od:HazardFactorDetails/od:DumpContentsText">

			<Element>
				<Name>od:OpenDumpDetails/od:HazardFactorDetails/od:DumpContentsText</Name>
			</Element>

			<SQL>
				SELECT DISTINCT DUMP_CONTENTS_TEXT FROM OD_DUMP_CONTENTS
				WHERE STATE_FACILITY_IDENTIFIER = '@STATE_FACILITY_IDENTIFIER@ '
				AND STATE_FACILITY_SYSTEM_ACRONYM_NAME = '@STATE_FACILITY_SYSTEM_ACRONYM_NAME@'
			</SQL>
			<Map>
				<Element>../od:DumpContentsText</Element>
				<Value>DUMP_CONTENTS_TEXT</Value>
			</Map>
		</Mapping>

		<Conditional>
			<if>
				<Column>SITE_RAINFALL_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteRainfallText</Element>
					<Value>SITE_RAINFALL_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteRainfallText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_DRAINAGE_LEACHATE_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteDrainageLeachateText</Element>
					<Value>SITE_DRAINAGE_LEACHATE_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteDrainageLeachateText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_FLOODING_POTENTIAL_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteFloodingPotentialText</Element>
					<Value>SITE_FLOODING_POTENTIAL_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteFloodingPotentialText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_COVER_FREQUENCY_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteCoverFrequencyText</Element>
					<Value>SITE_COVER_FREQUENCY_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteCoverFrequencyText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_BURNING_FREQUENCY_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteBurningFrequencyText</Element>
					<Value>SITE_BURNING_FREQUENCY_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteBurningFrequencyText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_FENCED_INDICATOR</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteFencedIndicator</Element>
					<Value>SITE_FENCED_INDICATOR</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteFencedIndicator</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_CONTROLLED_ACCESS_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteControlledAccessText</Element>
					<Value>SITE_CONTROLLED_ACCESS_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteControlledAccessText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_PUBLIC_CONCERN_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HazardFactorDetails/od:SitePublicConcernText</Element>
					<Value>SITE_PUBLIC_CONCERN_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HazardFactorDetails/od:SitePublicConcernText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_VERTICAL_DISTANCE_TO_AQUIFER</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteVerticalDistanceToAquiferText</Element>
					<Value>SITE_VERTICAL_DISTANCE_TO_AQUIFER</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteVerticalDistanceToAquiferText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_HORIZONTAL_DISTANCE_TO_SURFACE_WATER_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteHorizontalDistanceToSurfaceWaterText</Element>
					<Value>SITE_HORIZONTAL_DISTANCE_TO_SURFACE_WATER_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteHorizontalDistanceToSurfaceWaterText</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>SITE_DISTANCE_TO_HOMES_TEXT</Column>
				<Map>
					<Element>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteDistanceToHomesText</Element>
					<Value>SITE_DISTANCE_TO_HOMES_TEXT</Value>
				</Map>
				<Drop>od:OpenDumpDetails/od:HazardFactorDetails/od:SiteDistanceToHomesText</Drop>
			</if>
		</Conditional>

		<Conditional>
			<if>
				<Column>SITE_RAINFALL_TEXT</Column>
				<Column>SITE_DRAINAGE_LEACHATE_TEXT</Column>
				<Column>SITE_FLOODING_POTENTIAL_TEXT</Column>
				<Column>SITE_COVER_FREQUENCY_TEXT</Column>
				<Column>SITE_BURNING_FREQUENCY_TEXT</Column>
				<Column>SITE_FENCED_INDICATOR</Column>
				<Column>SITE_CONTROLLED_ACCESS_TEXT</Column>
				<Column>SITE_PUBLIC_CONCERN_TEXT</Column>
				<Column>SITE_VERTICAL_DISTANCE_TO_AQUIFER</Column>
				<Column>SITE_HORIZONTAL_DISTANCE_TO_SURFACE_WATER_TEXT</Column>
				<Column>SITE_DISTANCE_TO_HOMES_TEXT</Column>
				<Drop>od:OpenDumpDetails/od:HazardFactorDetails</Drop>
			</if>
		</Conditional>

	</Mapping>
	<Mapping mandatory="false" remove="/enh:Document/enh:Payload[@Operation = 'FacilityDelete']">
		<Element>
			<Name>/enh:Document/Payload[@Operation = 'FacilityDelete']/od:OpenDumpFacilitySiteList/od:OpenDumpFacilitySiteAllDetails</Name>
		</Element>
		<SQL>
      select distinct STATE_FACILITY_IDENTIFIER, STATE_FACILITY_SYSTEM_ACRONYM_NAME
      from FRS_FACILITY_SITE_DATA
      where DELETED_INDICATOR = 'Y' 
      AND LAST_REPORTED_DATE >= convert(datetime, '@LastReportedDate@', 101) 
    </SQL>
		<Conditional>
			<if>
				<Column>STATE_FACILITY_IDENTIFIER</Column>
				<Map>
					<Element>facid:StateFacilityIdentifier</Element>
					<Value>STATE_FACILITY_IDENTIFIER</Value>
				</Map>
				<Drop>facid:StateFacilityIdentifier</Drop>
			</if>
		</Conditional>
		<Conditional>
			<if>
				<Column>STATE_FACILITY_SYSTEM_ACRONYM_NAME</Column>
				<Map>
					<Element>facid:StateFacilitySystemAcronymName</Element>
					<Value>STATE_FACILITY_SYSTEM_ACRONYM_NAME</Value>
				</Map>
				<Drop>facid:StateFacilitySystemAcronymName</Drop>
			</if>
		</Conditional>
	</Mapping>
</MappingScript>