<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
  xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
  http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  
  	<!-- The definition of the Root Spring Container shared by all Servlets and Filters -->
	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring/root-context.xml</param-value>
	</context-param>
	<!-- Creates the Spring Container shared by all Servlets and Filters -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	<!-- Processes application requests -->
	<servlet>
		<servlet-name>appServlet</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<init-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/spring/appServlet/servlet-context.xml</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>appServlet</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>
	<env-entry>
		<env-entry-name>node/version</env-entry-name>
		<env-entry-value>2.0</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>node/dbFullString</env-entry-name>
		<env-entry-value>
			(description=(address_list=(address=(host=VS08HOHOKUS)(protocol=tcp)(port=1521))(address=(host=VS08HOHOKUS)(protocol=tcp)(port=1521)))(source_route=yes)(connect_data=(sid=HOHODB)))
		</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>node/dbUser</env-entry-name>
		<env-entry-value>NODE</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>node/dbPassword</env-entry-name>
		<env-entry-value>NODE</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>node/dbType</env-entry-name>
		<env-entry-value>oracle10g</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>aqde/dbType</env-entry-name>
		<env-entry-value>oracle10i</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>aqde/dbServer</env-entry-name>
		<env-entry-value>kent</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>aqde/dbPort</env-entry-name>
		<env-entry-value>1521</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>aqde/dbSID</env-entry-name>
		<env-entry-value>kentdb</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>aqde/dbUser</env-entry-name>
		<env-entry-value>AQDE</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>aqde/dbPassword</env-entry-name>
		<env-entry-value>AQDE</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nei/dbType</env-entry-name>
		<env-entry-value>oracle9i</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nei/dbServer</env-entry-name>
		<env-entry-value>192.168.88.203</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nei/dbPort</env-entry-name>
		<env-entry-value>1521</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nei/dbSID</env-entry-name>
		<env-entry-value>NJDEP</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nei/dbUser</env-entry-name>
		<env-entry-value>NEI</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nei/dbPassword</env-entry-name>
		<env-entry-value>NEI</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nodeedwr/dbFullString</env-entry-name>
		<env-entry-value>(description=(address_list=(address=(host=kent)(protocol=tcp)(port=1521))(address=(host=kent)(protocol=tcp)(port=1521)))(source_route=yes)(connect_data=(sid=kentdb)))</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nodeedwr/dbType</env-entry-name>
		<env-entry-value>oracle10g</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nodeedwr/dbServer</env-entry-name>
		<env-entry-value>kent</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nodeedwr/dbPort</env-entry-name>
		<env-entry-value>1521</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nodeedwr/dbSID</env-entry-name>
		<env-entry-value>kentdb</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nodeedwr/dbUser</env-entry-name>
		<env-entry-value>EXSDWIS</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>nodeedwr/dbPassword</env-entry-name>
		<env-entry-value>EXSDWIS</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>http/PROTOCOL_VERSION</env-entry-name>
		<env-entry-value>1.1</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>ValidationErrorTemplate</env-entry-name>
		<env-entry-value>config/template/ValidationErrorTemplate.xml</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>ValidationErrorXSTL</env-entry-name>
		<env-entry-value>config/template/ValidationErrorMessage.xslt</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>tempFilePath</env-entry-name>
		<env-entry-value>C:\NodeTemp</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>sessionTimeOut</env-entry-name>
		<env-entry-value>1200</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>DataFlowPlugIn</env-entry-name>
		<env-entry-value>DataFlow.Engine.ActionProcess</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
	<env-entry>
		<env-entry-name>WEBSERVICE_AQS</env-entry-name>
		<env-entry-value>AQSRawData_v2</env-entry-value>
		<env-entry-type>java.lang.String</env-entry-type>
	</env-entry>
</web-app>
