<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.3600.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="Node.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="Node.Lib.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
			<section name="DataFlow.Engine.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
		<section name="microsoft.web.services2" type="Microsoft.Web.Services2.Configuration.WebServicesConfiguration, Microsoft.Web.Services2, Version=2.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
		<section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
	</configSections>
	<appSettings>
		<add key="ORACLE_0N_UNIX" value="" />
		<add key="LOG_PATH" value="TaskLog.txt" />
		<add key="SOLICIT_LOG_PATH" value="logs\WebServicesLogTask.txt" />
		<add key="ALWQX" value="F:\TS_dallas\eNode2008DotNet\V1_0\src\Node.PlugIn\App_Data\WQX\ADEM\MapperTemplate_v2.0\" />
		<add key="ALRCRAHandler" value="F:\TS_dallas\eNode2008DotNet\V1_0\src\Node.PlugIn\App_Data\RCRA\ADEM\MapperTemplate_v5\" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<add key="DMRIDEF" value="F:\TS_dallas\eNode2008DotNet\V1_0\src\Node.PlugIn\App_Data\eDMR\DMR-IDEF-v1.xslt" />
		<add key="ALWQX_ERROR_REPORT_LINK" value="" />
		<add key="EMTSDataConfig" value="D:\Dallas\Trenton\eNode2008DotNet\V1_0\src\Node.PlugIn\App_Data\EMTS\DataConfigOld.xml" />
		<add key ="MEFRSV3" value="F:\TS_dallas\eNode2008DotNet\V1_0\src\Node.PlugIn\App_Data\FRS"/>
	</appSettings>
	<connectionStrings>
    <add name="node" connectionString="Server=NBW7TSAIC03;Database=ennode2;UID=nodeadmin;PWD=nodeadmin" providerName="System.Data.SqlClient"/>
    <!--<add name="node" connectionString="Data Source=vs08buffalo;User ID=ASPNODE;Password=ASPNODE" providerName="System.Data.OracleClient"/>-->
		<!--<add name="node" connectionString="Server=enfo_001;Database=node2008;UID=nodeadmin;PWD=nodeadmin" providerName="System.Data.SqlClient" />-->
		<add name="DNREC" connectionString="Server=enfo_001;Database=node2008;UID=nodeadmin;PWD=nodeadmin" providerName="System.Data.SqlClient"/>
		<!--<add name="node" connectionString="Server=vistatsaic09;Database=node2008;UID=nodeadmin;PWD=nodeadmin" providerName="System.Data.SqlClient"/>-->
		<!--<add name="node" connectionString="Server=enfo_001;Database=node2008;UID=nodeadmin;PWD=nodeadmin" providerName="System.Data.SqlClient"/>-->
		<add name="ALRCRAHandler" connectionString="Server=vistatsaic09;Database=RCRA;UID=nodeadmin;PWD=nodeadmin" providerName="System.Data.SqlClient" />
		<add name="ALWQX" connectionString="Data Source=kentdb_kent;User ID=ALWQX_TTT;Password=ALWQX_TTT" providerName="System.Data.OracleClient" />
		<add name="EDMR" connectionString="Server=rome;Database=water_02;UID=e2_app;PWD=e2_exe" providerName="System.Data.SqlClient" />
		<add name="CSKT" connectionString="Server=enfo_001;Database=eNode;UID=nodeadmin;PWD=nodeadmin" providerName="System.Data.SqlClient" />
		<add name="EMTS" connectionString="Server=NBW7TSAIC03;Database=ennode2;UID=nodeadmin;PWD=nodeadmin" providerName="System.Data.SqlClient" />
		<add name="MEFRSV3" connectionString="Data Source=EFIS;User ID=EFIS;Password=EFIS" providerName="System.Data.OracleClient"/>
	</connectionStrings>
	<system.web>
		<httpRuntime maxRequestLength="102400" executionTimeout="100" requestLengthDiskThreshold="10240" />
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
	<microsoft.web.services2>
		<filters>
			<input>
				<add type="Node.Core.Soap.DocumentInputFilter, Node.Core" />
			</input>
			<output>
				<add type="Node.Core.Soap.OutputFilter, Node.Core" />
				<add type="Node.Core.Soap.UserMgrFilter, Node.Core" />
			</output>
		</filters>
	</microsoft.web.services2>
	<microsoft.web.services3>
		<diagnostics>
			<trace enabled="false" input="inputTrace.webinfo" output="outputTrace.webinfo" />
		</diagnostics>
		<messaging>
			<mtom serverMode="optional" />
		</messaging>
		<policy fileName="wse3policyCache.config" />
	</microsoft.web.services3>
	<applicationSettings>
		<Node.Lib.Properties.Settings>
			<setting name="SourceType" serializeAs="String">
				<value>Database</value>
			</setting>
			<setting name="DataSource" serializeAs="String">
				<value>node</value>
			</setting>
			<setting name="Table" serializeAs="String">
				<value>SYS_CONFIG</value>
			</setting>
			<setting name="KeyValue" serializeAs="String">
				<value>
				</value>
			</setting>
			<setting name="KeyColumnName" serializeAs="String">
				<value>CONFIG_NAME</value>
			</setting>
			<setting name="SrcColumnName" serializeAs="String">
				<value>CONFIG_XML</value>
			</setting>
			<setting name="Path" serializeAs="String">
				<!--<value>\App_Data\SystemConfig</value>-->
				<value>tqas</value>
			</setting>
		</Node.Lib.Properties.Settings>
		<Node.Core.Properties.Settings>
			<setting name="DataFlowPlugIn" serializeAs="String">
				<value>dll=DataFlow.Engine.dll;class=DataFlow.Engine.ActionProcess</value>
			</setting>
		</Node.Core.Properties.Settings>
		<DataFlow.Engine.Properties.Settings>
			<setting name="PM_ID" serializeAs="String">
				<value>PID</value>
			</setting>
			<setting name="PM_TRANS_ID" serializeAs="String">
				<value>TRANSACTION_ID</value>
			</setting>
			<setting name="PM_OPER_ID" serializeAs="String">
				<value>OPERATION_ID</value>
			</setting>
			<setting name="PM_NAME" serializeAs="String">
				<value>PROCESS_NAME</value>
			</setting>
			<setting name="PM_STATUS" serializeAs="String">
				<value>PROCESS_STATUS</value>
			</setting>
			<setting name="PM_UPDATE_TIME" serializeAs="String">
				<value>UPDATED_DTTM</value>
			</setting>
			<setting name="PM_UPDATE_BY" serializeAs="String">
				<value>UPDATED_BY</value>
			</setting>
			<setting name="PM_NODE_URI" serializeAs="String">
				<value>NODE_ADDRESS</value>
			</setting>
			<setting name="PM_TABLE" serializeAs="String">
				<value>NODE_PROCESS_MONITOR</value>
			</setting>
			<setting name="PM_DATASOURCE" serializeAs="String">
				<value>NODE</value>
			</setting>
		</DataFlow.Engine.Properties.Settings>
	</applicationSettings>
</configuration>